<div *ngIf="ifResult" class="result">
  <a (click)="showModal()">设置</a>
</div>
<div *ngIf="!ifResult" class="dib mr5 mb5">
  <button class="z-btn-blue-sm" (click)="showModal()">设置角色</button>
</div>

<div *ngIf="isModalShown" [config]="{ show: true}" (onHidden)="onHidden()"
     bsModal #roleModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="roleModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">选择用户角色</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onHidden()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="role-manage clearfix">
          <ul class="body-ul clearfix">
            <li class="side-li">
              <ul>
                <li class="role-name" *ngIf="!roles">该用户暂无角色</li>
                <li  class="role-name" *ngFor="let role of roles, let i=index" [ngClass]="{'target':role.name===checkedRoleName}" (click)="facusRole(i)">
                  <div class="role-name-div" *ngIf="!role.clicked">
                    <span class="pl5 role-name-span">{{role.name}}</span>
                  </div>
                </li>
              </ul>
            </li>
            <li class="operator-li">
              <ul class="clearfix">
                <li class="role-operate mt10" *ngFor="let menu of menus">
                  {{menu.name}}
                  <ul class="clearfix mb20">
                    <li class="mt10 ml20" *ngFor="let menuItem of menu.childs">
                      <label class="menu-item role-modal-label">
                        <input type="checkbox" [disabled]="true" [(ngModel)]="menuItem.checked">{{menuItem.name}}
                      </label>
                      <ul>
                        <li class="items mr30 mt10 ml20" *ngFor="let item of menuItem.childs">
                          <label class="role-modal-label">
                            <input type="checkbox" [disabled]="true" [(ngModel)]="item.checked">{{item.name}}
                          </label>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!--<div class="modal-footer">-->
        <!--<button class="z-btn-blue-lg" (click)="submit()">确定</button>-->
        <!--<button class="z-btn-grey-lg ml50" (click)="cancelSubmit()">取消</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
