<div class="box">
<div class="userForget">
  <div class="userHeader">
    <img class="f-l mr10" src="../../../assets/imgs/logo_user.png"/>
    <p class="title">铺铺旺大数据系统</p>
    <p class="little-title">BigData Management System</p>
  </div>
  <p class="user mb20 f18 bold">忘记密码</p>
  <form class="user userForm relative" #userForget="ngForm" name="userForget">
    <input type="text" name="account" [(ngModel)]="account" #userMobile="ngModel" pattern="^1[3456789]\d{9}"
           placeholder="请输入手机号码" required minlength="11" maxlength="11">
    <div class="user-error" *ngIf="clicked">
      <span *ngIf="userMobile.errors?.pattern">手机号码格式不正确</span>
      <span *ngIf="userMobile.errors?.required">请输入手机号码</span>
      <span *ngIf="userMobile.errors" class="error-icon">!</span>
    </div>

    <input type="text" name="code" [(ngModel)]="code" #userCode="ngModel" placeholder="请输入验证码" required>

    <div class="user-error mr75" *ngIf="clicked">
      <span *ngIf="userCode.errors?.required">请输入验证码</span>
      <span *ngIf="userCode.errors" class="error-icon">!</span>
    </div>

    <button class="getCode" *ngIf="time>-1" [disabled]="userMobile.errors" [ngClass]="{'lightgrey':userMobile.errors}">{{time}} s </button>
    <button class="getCode" *ngIf="time===-1" [disabled]="userMobile.errors" [ngClass]="{'lightgrey':userMobile.errors}"
            (click)="getVC(userMobile.errors)">{{text}}</button>

    <input type="password" name="password1" [(ngModel)]="password1" #password11="ngModel"
           pattern="^[A-Za-z0-9]{6,12}$" placeholder="请输入新的登录密码" required maxlength="12">
    <div class="user-error" *ngIf="clicked">
      <span *ngIf="password11.errors?.pattern">请输入6-12位数字和字符</span>
      <span *ngIf="password11.errors?.required">请输入密码</span>
      <span *ngIf="password11.errors" class="error-icon">!</span>
    </div>

    <input type="password" name="password2" [(ngModel)]="password2" #password22="ngModel" placeholder="请再输入新的登录密码"
           pattern="^[A-Za-z0-9]{6,12}$" required maxlength="12">
    <div class="user-error" *ngIf="clicked">
      <span *ngIf="password22.errors?.required">请再次输入密码</span>
      <!--<span *ngIf="password22.errors?.pattern">请输入6-12位数字和字符</span>-->
      <span *ngIf="password1!=password2&&password2">两次密码输入不一致</span>
      <span *ngIf="password1!=password2 || password22.errors" class="error-icon">!</span>
    </div>

    <button class="user-button" [ngClass]="{'buttonBgDis':disable,'buttonBgOk':(userForget.valid && password1===password2) || !clicked}"
            (click)="ForgetSubmit(userForget.invalid || password1!=password2)">确定</button>
  </form>

  <div class="user userFooter">
    <a class="userToRes" routerLink="/login">已有账号，马上登录</a>
    <a class="userToPass" routerLink="/register">立即注册</a>
  </div>
</div>
</div>
