<div class="district">
	<select [(ngModel)]="cityCode" (ngModelChange)="getArea(cityCode)">
		<option [value]="item.code" *ngFor="let item of cityList">{{item.name}}</option>
	</select>
	<select [(ngModel)]="areaCode" class="ml3" (ngModelChange)="getStreet(areaCode)">
		<option [value]="item.code" *ngFor="let item of areaList">{{item.name}}</option>
	</select>
	<select [(ngModel)]="streetCode" class="ml3" (ngModelChange)="chooseStreet(streetCode)" *ngIf="streetList.length > 1">
		<option [value]="item.code" *ngFor="let item of streetList">{{item.name}}</option>
	</select>
</div>
