<nav class="z-title-lg">
  功能字典管理
</nav>
<p class="z-empty" *ngIf="empty">暂无信息</p>
<div class="func-manage clearfix" *ngIf="!empty">
  <ul class="body-ul clearfix">
    <li class="side-li">
      <ul>
        <li  class="func-name" *ngFor="let sys of sysMenu, let m=index">
          <span class="folder" *ngIf="sys.clicked" (click)="folderNextMenu(m,sysMenu)"></span>
          <span class="open" *ngIf="!sys.clicked" (click)="getSysMenu(m,sysMenu)"></span>
          <span class="detailName" [class.clickDetail]="sys.code===clickedCode" (click)="getDetail(sys.code)">【{{typeObj[sys.type]}}{{sys.code}}】{{sys.name}}</span>
            <ul class="ml20" *ngIf="sys.clicked">
              <li  class="func-name" *ngFor="let dictionary of sys.childs, let i=index">
                <span class="folder" *ngIf="dictionary.clicked && dictionary.childs.length" (click)="folderNextMenu(i,sys.childs)"></span>
                <span class="open" *ngIf="!dictionary.clicked && dictionary.childs.length" (click)="getfuncMenu(i,sys.childs)"></span>
               <span class="detailName" [class.clickDetail]="dictionary.code===clickedCode" (click)="getDetail(dictionary.code)">【{{typeObj[dictionary.type]}}{{dictionary.code}}】{{dictionary.name}}</span>
                <ul class="ml40"  *ngIf="dictionary.clicked">
                  <li  class="func-name" *ngFor="let func of dictionary.childs, let k=index">
                    <span class="folder" *ngIf="func.clicked && func.childs.length" (click)="folderNextMenu(k,dictionary.childs)"></span>
                    <span class="open" *ngIf="!func.clicked && func.childs.length" (click)="getOperateMenu(k,dictionary.childs)"></span>
                    <span class="detailName" [class.clickDetail]="func.code===clickedCode" (click)="getDetail(func.code)">【{{typeObj[func.type]}}{{func.code}}】{{func.name}}</span>
                    <ul class="ml60"  *ngIf="func.clicked">
                      <li  class="func-name" *ngFor="let operate of func.childs, let j=index">
                        <!--<span class="folder" *ngIf="operate.clicked" (click)="folderNextMenu(j)"></span>-->
                        <!--<span class="open" *ngIf="!operate.clicked" (click)="getfuncMenu(operate.code,j)"></span>-->
                        <span class="detailName" [class.clickDetail]="operate.code===clickedCode" (click)="getDetail(operate.code)">【{{typeObj[operate.type]}}{{operate.code}}】{{operate.name}}</span>
                        <!--<span class="editor"></span>-->
                        <!--<span class="add"></span>-->
                        <!--<span class="delete"></span>-->
                      </li>
                    </ul>
                    <!--<span class="editor"></span>-->
                    <!--<span class="add"></span>-->
                    <!--<span class="delete"></span>-->
                  </li>
                </ul>
                <!--<span class="editor"></span>-->
                <!--<span class="add"></span>-->
                <!--<span class="delete"></span>-->
              </li>
            </ul>
        </li>
      </ul>
    </li>
    <li class="operator-li">
      <div *ngIf="!empty">
        <form name="operateForm">
          <div class="mt15">
            <span class="z-required func-label mr20">类型</span>
            <input type="text" name="type" [ngModel]="typeObj[detail.type]" [readonly]="true" class="z-input">
          </div>
          <div class="mt15">
            <span class="z-required func-label mr20">名称</span>
            <input type="text" name="name" [ngModel]="detail.name" [readonly]="true" class="z-input">
          </div>
          <div class="mt15">
            <span class="z-required func-label mr20">归属父级</span>
            <input type="text" name="parent" [ngModel]="clickedName" [readonly]="true" class="z-input">
          </div>
          <div class="mt15">
            <span class="z-required func-label mr20">字典编码</span>
            <input type="text" name="code" [ngModel]="detail.code" [readonly]="true" class="z-input">
            <!--<input type="text" name="parentCode" class="z-input ml10 module-code" [readonly]="true" [ngModel]="detail.parentCode">-->
            <!--<span class="ml10 lightgrey">输入2位编码，和上级编码共同形成字典编码</span>-->
          </div>
          <div class="mt15">
            <span class="func-label mr20">访问url</span>
            <input type="text" name="url" [ngModel]="detail.url" [readonly]="true" class="z-input">
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>
