.role-manage{
  width: 100%;
}
.body-ul{

}
.body-ul > li{
  float: left;
  border: 1px solid #dddddd;
  padding:10px 20px;
}
.side-li{
  width: 28%;
  height: 700px;
  overflow-y: scroll;
  border-bottom: none;
  background: #f8f9fa;
  font-size: 16px;
  box-shadow: 10px 0 8px -2px rgba(0, 0, 0, 0.15);
}
.operator-li{
  margin-left: 3px;
  width: 68%;
  background: #ffffff;
  height: 700px;
  overflow-y: scroll;
}
.role-name{
  padding: 10px 2px;
  cursor: pointer;
}
.role-name:hover{
  color: #1972d6;
  background: #f0f0f0;
}
.role-operate{
  font-size: 16px;
  //font-weight: bold;
  margin-top: 10px;
}
.menu-item{
  font-size: 14px;
  font-weight: bold;
}
.items{
  float: left;
  font-size: 14px;
  font-weight: normal;
}
.save{
  margin-left: 3px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  &:hover{
    color: #1972d6;
    background: #f0f0f0;
  }
}
.cancel{
  margin-left: 3px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  &:hover{
    color: #dd0031;
    background: #f0f0f0;
  }
}
.role-name-div{
  position: relative;
}
.role-modify{
  position: absolute;
  display: inline-block;
  margin-left: 20px;
  margin-top: 3px;
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 100;
  //visibility: hidden;
}
.role-name-div:after{
  position: absolute;
  content: '';
  display: inline-block;
  margin-left: 23px;
  top: 5px;
  width: 15px;
  height: 15px;
  z-index: 1;
  background: url("../../../assets/imgs/sprite.png");
  background-position:-117px -101px;
  opacity: 0;
}
.role-name-div:hover:after{
  opacity: 1;
}
.target{
  color: #1972d6;
  background: #f0f0f0;
}
