<nav class="z-title-lg">
  角色管理
</nav>
<div class="role-manage clearfix">
  <ul class="body-ul clearfix">
    <li class="side-li">
      <ul>
        <li  class="role-name" *ngFor="let role of roles">
          <span>{{role.name}}</span>
        </li>
        <li>
          <div *ngIf="addClicked" class="mb10">
            <form #roleForm="ngForm">
              <div>
                <input autocomplete="off" type="text" name="name" [(ngModel)]="addRole" #roleName="ngModel" maxlength="20" minlength="1">
                <span class="ml10 save" (click)="ceateRole(roleForm.valid)">保存</span>
                <span class="ml10 cancel" (click)="cancel()">取消</span>
              </div>
              <div>
                <span *ngIf="roleName.errors?.minlength">请填写角色名称</span>
                <span *ngIf="roleName.errors?.maxlength">角色名称不能超过20字</span>
              </div>
            </form>
          </div>

          <button class="z-btn-red-lg" (click)="addclick()">角色添加</button>
        </li>
      </ul>
    </li>
    <li class="operator-li">
      <ul>
        <li class="role-operate" *ngFor="let menu of menus">
          {{menu.name}}
          <ul>
            <li class="menu-item clearfix" *ngFor="let menuItem of menuItems">
              <ul>
                <li class="items" *ngFor="let item of items">
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
