<nav class="z-title-lg">
  角色管理
</nav>
<div class="role-manage clearfix">
  <ul class="body-ul clearfix">
    <li class="side-li">
      <ul>
        <li  class="role-name" *ngFor="let role of roles, let i=index" [ngClass]="{'target':role.liclicked}" (click)="facusli(i)">
          <div class="role-name-div" *ngIf="!role.clicked">
            <span class="pl5 role-name-span">{{role.name}}</span>
            <span class="role-modify" (click)="modifyRole(i)"></span>
          </div>
          <div *ngIf="role.clicked">
            <form #roleForm{{i}}="ngForm" name="roleForm">
              <div>
                <input autocomplete="off" type="text" name="name" [(ngModel)]="role.name" #roleName="ngModel" required maxlength="20">
                <span class="save" (click)="saveModify(roleName.errors,i)">保存</span>
                <span class="cancel" (click)="cancelModify(i)">取消</span>
              </div>
              <div *ngIf="role.saved">
                <span class="red" *ngIf="roleName.errors?.required">请填写角色名称</span>
                <span class="red" *ngIf="roleName.errors?.maxlength">角色名称不能超过20字</span>
              </div>
            </form>
          </div>
        </li>
        <li>
          <div *ngIf="addClicked" class="mb10 mt10">
            <form #roleForm="ngForm" name="roleForm">
              <div>
                <input autocomplete="off" type="text" name="name" [(ngModel)]="addRole" #roleName="ngModel" required maxlength="20">
                <span class="save" (click)="ceateRole(roleForm.valid)">保存</span>
                <span class="cancel" (click)="cancelRole()">取消</span>
              </div>
              <div *ngIf="saved">
                <span class="red" *ngIf="roleName.errors?.required">请填写角色名称</span>
                <span class="red" *ngIf="roleName.errors?.maxlength">角色名称不能超过20字</span>
              </div>
            </form>
          </div>

          <button *ngIf="!addClicked" class="mt10 z-btn-blue-lg" (click)="addclick()">角色添加</button>
        </li>
      </ul>
    </li>
    <li class="operator-li">
      <ul>
        <li class="role-operate" *ngFor="let menu of menus">
          {{menu.name}}
          <ul>
            <li class="clearfix mt15" *ngFor="let menuItem of menu.childs">
              <label class="menu-item z-checkbox">
                <input type="checkbox" [(ngModel)]="menuItem.checked" (click)="changeChecked(menuItem)"><i></i>{{menuItem.name}}
              </label>
              <ul>
                <li class="items mr30 mt10" *ngFor="let item of menuItem.childs">
                  <label class="z-checkbox">
                    <input type="checkbox" [(ngModel)]="item.checked" (click)="changeChecked(item)"><i></i>{{item.name}}
                  </label>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="mt40">
          <button class="z-btn-blue-lg" (click)="submit()">确定</button>
          <button class="z-btn-grey-lg ml50">取消</button>
        </li>
      </ul>
    </li>
  </ul>
</div>
