<nav class="z-title-lg">
  规则管理
</nav>
<section  class="z-bg-white clearfix">
  <ul class="rule-ul">
    <li class="rule-li">
      <form #userRuleForm="ngForm" name="userRuleForm">
        <div>
          <label class="z-required mr15">规则名称</label>
          <input type="text" class="z-input" [(ngModel)]="ruleName" name="roleName" #roleName="ngModel"
                 required maxlength="20" minlength="1">
          <span class="red ml5" *ngIf="roleName.errors?.required">请填写规则名称</span>
          <span class="red ml5"  *ngIf="roleName.errors?.minlength || roleName.errors?.maxlength">请填写1~20字</span>
        </div>
      </form>
        <div class="mt15">
          <p class="z-required">用户筛选条件：</p>
          <ul class="rule-condition rule-user mt10 clearfix">
            <li>用户属性</li>
            <li>匹配关系</li>
            <li>值</li>
          </ul>
          <form #userItem="ngForm" *ngFor="let item of items" name={{item.formName}}>
          <ul class="rule-condition mt10 clearfix">
            <li class="selectli">
              <select class="select"  id="item.attribute" name="item.attribute" [(ngModel)]="item.attr">
                <option *ngFor="let attr of item.attributes" [ngValue]="attr.value">{{attr.name}}</option>
              </select>
              <!--<app-select [list]='item.attributes' [(selectedItem)]="item.attr"></app-select>-->
            </li>
            <li class="selectli">
              <select class="select" name="item.relationship" [(ngModel)]="item.relate">
                <option *ngFor="let relate of item.relationships" [ngValue]="relate.value">{{relate.name}}</option>
              </select>
            </li>
            <li class="relative" *ngIf="item.attr==='sv_city'">
              <app-select-city-multi [(selectedCityOut)]="item.selectedCity"></app-select-city-multi>
            </li>
            <li *ngIf="item.attr==='tm_type'" class="relative">

              <app-select-team-type [(selectedType)]="item.selectedTeamType"></app-select-team-type>
            </li>

            <li *ngIf="item.attr==='tm_id'||item.attr==='us_id'">
              <input type="text" class="z-input" name="item.value" [(ngModel)]="item.value">
            </li>
            <li>
              <span class="add" (click)="addUser()"></span>
              <span class="delete" (click)="deleteRule(item,items)"></span>
            </li>
          </ul>
          </form>
        </div>

    </li>
    <li class="rule-li mt50">
      <form #dataRuleForm="ngForm" name="dataRuleForm">
      <div>
        <label class="z-required mr15">数据对象</label>
        <!--<input type="text" class="z-input" [(ngModel)]="dataObj">-->
        <div class="selectli dib">
          <select class="select"  id="dataObj" name="dataObj" [(ngModel)]="dataSelected">
            <option *ngFor="let item of dataObj" [ngValue]="item.value">{{item.name}}</option>
          </select>
        </div>
      </div>
      </form>
      <div class="mt15">
        <div>
          <p class="z-required">数据筛选条件：</p>
          <ul class="rule-condition mt10 rule-data clearfix">
            <li>左数据对象</li>
            <li>属性</li>
            <li>匹配关系</li>
            <li>右数据对象</li>
            <li>属性</li>
          </ul>
          <form #dataItem="ngForm" *ngFor="let item of datas" name={{item.dataName}}>
          <ul class="rule-condition mt10 clearfix">
            <li class="selectli">
              <select class="select"  id="item.left" name="item.left" [disabled]="true" [(ngModel)]="item.leftObj">
                <option *ngFor="let left of item.leftObjs" [ngValue]="left.value">{{left.name}}</option>
              </select>
              <!--<app-select [list]='item.attributes' [(selectedItem)]="item.attr"></app-select>-->
            </li>
            <li class="selectli">
              <select class="select"  id="item.leftAttribute" name="item.leftAttribute" [(ngModel)]="item.leftAttr">
                <option *ngFor="let leftAttr of item.leftAttributes" [ngValue]="leftAttr.value">{{leftAttr.name}}</option>
              </select>
              <!--<app-select [list]='item.attributes' [(selectedItem)]="item.attr"></app-select>-->
            </li>
            <li class="selectli">
              <select class="select" name="item.relationshipData" [(ngModel)]="item.relate">
                <option *ngFor="let relate of item.relationships" [ngValue]="relate.value">{{relate.name}}</option>
              </select>
            </li>
            <li class="selectli">
              <select class="select"  id="item.right" name="item.right" [(ngModel)]="item.rightObj">
                <option *ngFor="let right of item.rightObjs" [ngValue]="right.value">{{right.name}}</option>
              </select>
              <!--<app-select [list]='item.attributes' [(selectedItem)]="item.attr"></app-select>-->
            </li>
            <li class="selectli" *ngIf="item.rightObj===0" >
              <select class="select" id="item.rightAttribute" [disabled]="true" name="item.rightAttribute" [(ngModel)]="item.leftAttr">
                <option *ngFor="let rightAttr of item.rightAttributes" [ngValue]="rightAttr.value">{{rightAttr.name}}</option>
              </select>
              <!--<app-select [list]='item.attributes' [(selectedItem)]="item.attr"></app-select>-->
            </li>
            <li *ngIf="item.rightObj===1" >
                <div class="dib relative" *ngIf="item.leftAttr==='sv_city'">
                  <app-select-city-multi [(selectedCityOut)]="item.selectedCity"></app-select-city-multi>
                  <!--<app-select-city-multi [showPanel11]="item.showPanel" [(selectedCityOut)]="item.selectedCity"></app-select-city-multi>-->
                </div>
                <div class="dib relative" *ngIf="item.leftAttr==='tm_type'">
                  <app-select-team-type [(selectedType)]="item.selectedTeamType"></app-select-team-type>
                  <!--<app-select-team-type [showPanel11]="item.showTeamPanel"  [(selectedType)]="item.selectedTeamType"></app-select-team-type>-->
                </div>

                <div class="dib" *ngIf="item.leftAttr==='tm_id'||item.leftAttr==='us_id'">
                  <input type="text" class="z-input" name="item.value" [(ngModel)]="item.value">
                </div>
              <!--<app-select [list]='item.attributes' [(selectedItem)]="item.attr"></app-select>-->
            </li>
            <li>
              <span class="add" (click)="addData()"></span>
              <span class="delete" (click)="deleteRule(item,datas)"></span>
            </li>
          </ul>
          </form>
        </div>
      </div>
    </li>
    <li class="rule-li mt50">
      <p class="z-required">条件描述</p>
      <div class="condition-view">
        <p>满足以下条件的用户：</p>
        <p *ngFor="let item of items">
          {{attrObj[item.attr]}}
          &nbsp;{{symbolObj[item.relate]}}&nbsp;
          <span *ngFor="let i of item.selectedCity">{{i.name}}&nbsp;</span>
          <span *ngFor="let i of item.selectedTeamType">{{i.name}}&nbsp;</span>
          <span *ngIf="item.attr!=='sv_city'&&item.attr!=='tm_type'">{{item.value}}</span>&nbsp;
        </p>
      </div>
      <div class="condition-view ml30">
        <p>搜索 店铺信息：</p>
        <p *ngFor="let item of datas">
          {{targetObj[item.leftObj]}}&nbsp;
          {{attrObj[item.leftAttr]}}&nbsp;{{symbolObj[item.relate]}}&nbsp;{{targetObj[item.rightObj]}}&nbsp;{{attrObj[item.leftAttr]}}&nbsp;
          <span *ngFor="let i of item.selectedCity">{{i.name}}&nbsp;</span>
          <span *ngFor="let i of item.selectedTeamType">{{i.name}}&nbsp;</span>
          <span *ngIf="item.leftAttr!=='sv_city'&&item.leftAttr!=='tm_type'">{{item.value}}</span>
        </p>
      </div>
    </li>
    <li class="rule-li mt20">
      <button class="z-btn-blue-lg" [disabled]="!ruleName" (click)="submit()">确定</button>
    </li>
  </ul>

</section>
