<div class="single">
  <div class="select">
    <div (click)="showContent=!showContent" [class.active]="showContent">{{checkedItem.name}}</div>
  </div>
  <div class="list" [style.display]="showContent ? 'block' : 'none'">
    <table>
      <tr *ngFor="let item of cookieDistricts">
        <td>
          <span class="alpah">{{item.alpha}}</span>
        </td>
        <td>
          <ul>
            <li class="district" [class.active]="v.name===checkedItem.name" *ngFor="let v of item.list" (click)="check(v)">
              {{v.name}}
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
