.sidebar{
	position: fixed;
	top: 64px;
	width: 235px;
	height: calc(100vh - 64px);
	background-color: #fafafa;
	box-shadow: 6px 0 6px rgba(0,0,0,.1);
	overflow: auto;
	box-sizing: content-box;
    z-index: 1000;
    padding: 10px 5px 30px 15px;
	.level-1{
		height: 37px;
		line-height: 37px;
		cursor: pointer;
		padding-left: 5px;
    	transition: background-color .2s;
		&:hover{
			background-color: #dbdbdb;
			color: #1976d2;
		    border-radius: 2px;
		}
		&.active{
			color: #1976d2;
		}
		i {
			transform:rotate(-90deg);
		}
		&.collapsed i {
			transform:rotate(0deg);
		}
	}
	.level-2{
		font-size: 14px;
		height: 32px;
		line-height: 32px;
		cursor: pointer;
		margin-left: 15px;
		padding-left: 5px;
    	transition: background-color .2s;
		&:hover{
			background-color: #dbdbdb;
			color: #1976d2;
		    border-radius: 2px;
		}
		&.active{
			color: #1976d2;
		}
	}
}
