<div class="sidebar" id="sidebar">
	<div class="level-1" routerLink="admin" routerLinkActive="active">
		首页
	</div>

	<div class="level-1" data-toggle="collapse" data-target="#collapseUserManage" aria-expanded="true" aria-controls="collapseUserManage">
		用户管理
	</div>
	<div id="collapseUserManage" class="collapse" data-parent="#sidebar">
		<div class="level-2" routerLink="/admin/userManage" routerLinkActive="active">
			用户管理
		</div>
	</div>

	<div class="level-1" data-toggle="collapse" data-target="#collapseTeamManage" aria-expanded="true" aria-controls="collapseTeamManage">
		团队管理
	</div>
	<div id="collapseTeamManage" class="collapse" data-parent="#sidebar">
		<div class="level-2" routerLink="/admin/teamManage" routerLinkActive="active">
			团队管理
		</div>
	</div>

	<div class="level-1" data-toggle="collapse" data-target="#collapseSystemManage" aria-expanded="true" aria-controls="collapseSystemManage">
		系统管理
	</div>
	<div id="collapseSystemManage" class="collapse" data-parent="#sidebar">
		<div class="level-2" routerLink="/admin/roleManage" routerLinkActive="active">
			角色管理
		</div>
		<div class="level-2" routerLink="/admin/moduleManage" routerLinkActive="active">
			功能模块管理
		</div>
		<div class="level-2" routerLink="/admin/districtManage" routerLinkActive="active">
			区域管理
		</div>
		<div class="level-2" routerLink="/admin/tagManage" routerLinkActive="active">
			标签库管理
		</div>
		<div class="level-2" routerLink="/admin/ruleManage" routerLinkActive="active">
			规则库管理
		</div>
	</div>

	<div class="level-1" data-toggle="collapse" data-target="#collapsePersonalCenter" aria-expanded="true" aria-controls="collapsePersonalCenter">
		个人中心
	</div>
	<div id="collapsePersonalCenter" class="collapse" data-parent="#sidebar">
		<div class="level-2" routerLink="/admin/dataSet" routerLinkActive="active">
			资料设置
		</div>
		<div class="level-2" routerLink="/admin/passwordUpdate" routerLinkActive="active">
			密码修改
		</div>
		<div class="level-2" routerLink="/admin/myInfo" routerLinkActive="active">
			我的消息
		</div>
	</div>
</div>
