<div class="nav">
	<div class="w content clearfix">
		<a class="logo f-l" routerLink="/index">
			<img src="./assets/imgs/logo-nav.png">
		</a>
		<div class="title f-l bold">
			大数据系统
		</div>
		<div class="position f-l f14 pointer">
			<i class="iconfont icon-dingwei f14"></i>
			深圳
		</div>
		<div class="links">
			<div class="sort" routerLink="/user">
				首页
			</div>
			<div class="sort">
				店铺
				<ul>
					<li routerLink="/user/shopService" routerLinkActive="active">店铺信息</li>
					<li>业主信息</li>
				</ul>
			</div>
			<div class="sort">
				服务
				<ul>
					<li>转让</li>
					<li>寻址</li>
					<li>招商加盟</li>
				</ul>
			</div>
		</div>
		<div class="right f-r">
			<div class="phone">
				<i class="iconfont icon-shouji1"></i>
			</div>
			<div class="message" routerLink="/user/news">
				<i class="iconfont icon-xiaoxi">
					<span>1</span>
				</i>
			</div>
			<div class="info f14">
				<div class="pic"></div>
				<span>小胖胖</span>
				<ul>
					<li routerLink="/user/dataSet">资料设置</li>
					<li routerLink="/user/changePwd">密码修改</li>
					<li routerLink="/user/historyLog">活动日志</li>
					<li>平台管理</li>
				</ul>
			</div>
		</div>
	</div>
</div>
