<nav class="z-title-lg">
  新增用户
</nav>
<section class="z-bg-white clearfix">
  <header class="clearfix">
    <h1 class="z-title-md-style dib">信息列表</h1>
    <button class="z-btn-blue-lg f-r" routerLink="/admin/userManage">返回</button>
  </header>
  <ul>
    <li>
      <label for="addname">用户姓名：</label>
      <input class="z-input" type="text" id="addname">
    </li>
    <li>
      <label for="addcellphone">手机号码：</label>
      <input class="z-input" type="text" id="addcellphone">
    </li>
    <li>
      <label for="addmail">工作邮箱：</label>
      <input class="z-input" type="text" id="addmail">
    </li>
    <li>
      <label for="addsetCity">工作城市：</label>
      <span id="addsetCity">深圳</span>
      <a>设置</a>
    </li>
    <li>
      <label for="addlabel">关联标签：</label>
      <span id="addlabel">多区域</span>
    </li>
    <li>
      <label for="area">可服务区域：</label>
      <span id="area">深圳</span>
    </li>
    <li>
      <label for="user">用户角色：</label>
      <span id="user">自营服务</span>
      <a>设置</a>
    </li>
  </ul>
  <div class="text-center mt10">
    <button type="button" class="z-btn-blue-lg">确定</button>
  </div>
</section>
