<nav class="z-title-lg">
  新增用户
</nav>
<section class="z-bg-white clearfix">
  <header class="clearfix">
    <h1 class="z-title-md-style dib">信息列表</h1>
    <button class="z-btn-blue-lg f-r" routerLink="/admin/userManage">返回</button>
  </header>
  <form #addForm="ngForm" name="addForm">
    <ul>
      <li class="relative">
        <label class="z-required" for="addname">用户姓名：</label>
        <div class="l-box">
          <input class="z-input" id="addname" name="addname"
                 [(ngModel)]="userName"
                 #addName="ngModel"
                 minlength="1" maxlength="20" required>
        </div>
        <div *ngIf="addName.invalid && (addName.dirty || addName.touched)">
          <span class="z-error f-r" *ngIf="addName.errors.required">请输入用户姓名</span>
          <span class="z-error f-r" *ngIf="addName.errors.minlength">请输入1~20位</span>
          <span class="z-error f-r" *ngIf="addName.errors.maxlength">请输入1~20位</span>
        </div>
      </li>
      <li>
        <label class="z-required" for="addmobile">手机号码：</label>
        <div class="l-box">
          <input class="z-input" name="addmobile" id="addmobile"
                 [(ngModel)]="mobile"
                 #addmobile="ngModel"  pattern="^1[3456789]\d{9}"
                 maxlength="11" required>
        </div>
        <div *ngIf="addmobile.invalid && (addmobile.dirty || addmobile.touched)">
          <span class="z-error f-r" *ngIf="addmobile.errors.pattern">请输入正确的手机号码</span>
          <span class="z-error f-r" *ngIf="addmobile.errors.required">请输入手机号码</span>
        </div>
      </li>
      <li>
        <label for="addmail">工作邮箱：</label>
        <div class="l-box">
          <input class="z-input" name="addmail" id="addmail"
                 [(ngModel)]="email"
                 #addmail="ngModel" pattern="\w+@\w+\.[a-z]+(\.[a-z]+)?"
                 minlength="5" maxlength="30">
        </div>
        <div *ngIf="addmail.invalid && (addmail.dirty || addmail.touched)">
          <span class="z-error f-r" *ngIf="addmail.errors.pattern
          || addmail.errors.minlength
          || addmail.errors.maxlength">请输入正确的邮箱</span>
        </div>
      </li>
      <li>
        <label class="z-required">工作城市：</label>
        <div class="l-box">
          <app-district [(checkedCode)]="city"></app-district>
        </div>
      </li>
      <li>
        <label>关联标签：</label>
        <div class="l-box relative">
          <app-set-related-tags [(tags)]="tags"></app-set-related-tags>
        </div>
      </li>
      <li>
        <label>可服务区域：</label>
        <div class="l-box">
          <app-district-mult [ifResult]="true" [citys]="citys"></app-district-mult>
        </div>
      </li>
      <li>
        <label>用户角色：</label>
        <div class="l-box">
          <app-role-modal [roles]="roles" (getRole)="getRole($event)" [addUser]="true" [ifResult]="true"></app-role-modal>
        </div>
      </li>
    </ul>
    <div class="text-center mt10 mb60">
      <button type="button" class="z-btn-blue-lg"
              [disabled]="addName.invalid || addmobile.invalid || city===-1"
              (click)="submit()">确定</button>
    </div>
  </form>
</section>
