<div class="clearfix">
  <div class="page-list">
    <div class="page-total f-l" *ngIf="pageConf.totalItems > 0">共<strong>{{pageConf.numPages }}</strong>页/<strong>{{pageConf.totalItems}}</strong>条</div>
    <div class="page-jump hidden" *ngIf="pageConf.totalItems > 0">
      跳至<input class="z-input" [(ngModel)]="jumpPageNum"/>页
      <button class="z-btn-grey-sm" (click)="jumpToPage($event)">确定</button>
    </div>
    <pagination *ngIf="pageConf.totalItems > 0" [totalItems]="pageConf.totalItems" [(ngModel)]="pageConf.currentPage" [maxSize]="pageConf.maxSize" class="pagination-sm"
                [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="pageConf.itemsPerPage"
                previousText="上一页" nextText="下一页" firstText="首页" lastText="尾页"
                (numPages)="pageConf.numPages = $event" (pageChanged)="pageChange($event)"></pagination>


  </div>
  <div class="no-items hidden" *ngIf="pageConf.totalItems <= 0"><p class="z-empty">暂未查询到相关信息</p></div>
</div>

