<div class="edit">
	<form class="intact" name="intactForm" #intactForm="ngForm">
		<div class="z-bg-white">
			<h1 class="f18 bold blue" id="wuyejianzhu">物业建筑信息</h1>
			<hr>
			<h2 class="z-title-md-style" id="weizhi">位置信息</h2>
			<div class="edit-group mt20">
				<span class="edit-title z-required">所在区域：</span>
				<div class="edit-content">
					<app-choose-district [(selectedCode)]="intact.distrcitId" [defaultCode]="defaultDistrictId" [(isDetail)]="districtiIsDetail" (click)="clickDistrict=true"></app-choose-district>
					<div class="error">
						<span *ngIf="!districtiIsDetail && (intactSubmitted || clickDistrict)">！请选择具体区域</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title z-required">详细地址：</span>
				<div class="edit-content">
					<textarea name="detailAddress" maxlength=30 required #_detailAddress="ngModel" [(ngModel)]="intact.detailAddress" class="z-textarea" placeholder="请填写道路、门牌等详细地址信息（30字以内）"></textarea>
					<div class="error">
						<span *ngIf="_detailAddress.errors?.required && (!_detailAddress.pristine || intactSubmitted)">！请填写详细地址</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title z-required">坐标位置：</span>
				<div class="edit-content">
					<app-map-modal [(point)]="intact.point" (click)="clickPoint = true"></app-map-modal>
					<div class="error">
						<span *ngIf="!intact.point && (intactSubmitted || clickPoint)">！请选择经纬度</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title z-required">方位描述：</span>
				<div class="edit-content">
					<select name="positionDesc" [(ngModel)]="intact.positionDesc" (click)="clickPositionDesc=true">
						<option [value]="item.code" *ngFor="let item of descriptions">{{item.name}}</option>
					</select>
					<div class="error">
						<span *ngIf="!+intact.positionDesc && (clickPositionDesc || intactSubmitted)">！请选择方位描述</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title z-required">是否临街：</span>
				<div class="edit-content">
					<select name="nearStreet" [(ngModel)]="intact.nearStreet" (click)="clickNearStreet = true">
						<option [value]="item.code" *ngFor="let item of nearStreetSelect">{{item.name}}</option>
					</select>
					<div class="error">
						<span *ngIf="!+intact.nearStreet && (clickNearStreet || intactSubmitted)">！请选择是否临街</span>
					</div>
				</div>
			</div>
			<h2 class="z-title-md-style" id="jianzhu">建筑信息</h2>
			<div class="edit-group mt20">
				<span class="edit-title z-required">建筑面积：</span>
				<div class="edit-content">
					<input name="buildingArea" [(ngModel)]="intact.buildingArea" required #_buildingArea="ngModel" pattern="^[1-9][0-9]{0,5}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写建筑面积"> 平米
					<div class="error">
						<span *ngIf="_buildingArea.errors?.pattern">请填写1-6位数字，支持两位小数</span>
						<span *ngIf="_buildingArea.errors?.required && (!_buildingArea.pristine || intactSubmitted)">！请填写建筑面积</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">使用面积：</span>
				<div class="edit-content">
					<input name="useArea" [(ngModel)]="intact.useArea" #_useArea="ngModel" pattern="^[1-9][0-9]{0,5}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写建筑面积"> 平米
					<div class="error">
						<span *ngIf="_useArea.errors?.pattern">请填写1-6位数字，支持两位小数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">开间：</span>
				<div class="edit-content">
					<input name="width" [(ngModel)]="intact.width" #_width="ngModel" pattern="^[1-9][0-9]{0,1}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写开间"> 米
					<div class="error">
						<span *ngIf="_width.errors?.pattern">请填写1-2位数字，支持两位小数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">进深：</span>
				<div class="edit-content">
					<input name="deep" [(ngModel)]="intact.deep" #_deep="ngModel" pattern="^[1-9][0-9]{0,1}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写进深"> 米
					<div class="error">
						<span *ngIf="_deep.errors?.pattern">请填写1-2位数字，支持两位小数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">门宽：</span>
				<div class="edit-content">
					<input name="doorWidth" [(ngModel)]="intact.doorWidth" #_doorWidth="ngModel" pattern="^[1-9][0-9]{0,1}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写门宽"> 米
					<div class="error">
						<span *ngIf="_doorWidth.errors?.pattern">请填写1-2位数字，支持两位小数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">层高：</span>
				<div class="edit-content">
					<input name="height" [(ngModel)]="intact.height" #_height="ngModel" pattern="^[1-9][0-9]{0,1}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写门宽"> 米
					<div class="error">
						<span *ngIf="_height.errors?.pattern">请填写1-2位数字，支持两位小数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">所处楼层：</span>
				<div class="edit-content">
					<input type="text" class="z-input" name="floor" [(ngModel)]="intact.floor" maxlength="20" placeholder="请填写所处楼层">
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">总层数：</span>
				<div class="edit-content">
					<input name="floorNum" [(ngModel)]="intact.floorNum" #_floorNum="ngModel" pattern="^[1-9][0-9]{0,2}$" type="number" class="z-input" placeholder="请填写总层数"> 层
					<div class="error">
						<span *ngIf="_floorNum.errors?.pattern">请填写1-3位整数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">适合经营行业：</span>
				<div class="edit-content">
					<app-choose-industry [(selectedList)]="intact.suitIndustry" [defaultCodes]="suitIndustryDefault" [max]=10 (click)="clickIndustry=true"></app-choose-industry>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">推荐经营行业：</span>
				<div class="edit-content">
					<app-choose-industry [(selectedList)]="intact.recommendIndustry" [defaultCodes]="suitIndustryDefault" [max]=10 (click)="clickIndustry=true"></app-choose-industry>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">不宜经营行业：</span>
				<div class="edit-content">
					<app-choose-industry [(selectedList)]="intact.unsuitIndustry" [defaultCodes]="recommendarIndustryDefault" [max]=10 (click)="clickIndustry=true"></app-choose-industry>
				</div>
			</div>
			<h2 class="z-title-md-style" id="wuye">物业信息</h2>
			<div class="edit-group mt20">
				<span class="edit-title">上级物业：</span>
				<div class="edit-content">
					<select name="parentProperty" [(ngModel)]="intact.parentProperty">
						<option [value]="item.code" *ngFor="let item of parentPropertys">{{item.name}}</option>
					</select>
				</div>
			</div>
			<div class="edit-group property">
				<span class="edit-title">物业配套：</span>
				<div class="edit-content">
					<label class="z-checkbox" *ngFor="let item of properties">
						<input type="checkbox" name="{{'property'+item.code}}" [(ngModel)]="item.value"><i></i>{{item.name}}
					</label>
				</div>
			</div>
			<div class="edit-group fee">
				<span class="edit-title">费用成本：</span>
				<div class="edit-content">
					<table>
						<tr>
							<td width="40" class="bold">水费</td>
							<td width="300">
								<input name="waterFee" [(ngModel)]="intact.waterFee" #_waterFee="ngModel" pattern="^[0-9]{0,2}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写水费"> 元/吨
								<div class="error">
									<span *ngIf="_waterFee.errors?.pattern">请填写1-2位整数，支持两位小数</span>
								</div>
							</td>
							<td width="40" class="bold">电费</td>
							<td width="300">
								<input name="electricityFee" [(ngModel)]="intact.electricityFee" #_electricityFee="ngModel" pattern="^[0-9]{0,2}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写电费"> 元/度
								<div class="error">
									<span *ngIf="_electricityFee.errors?.pattern">请填写1-2位整数，支持两位小数</span>
								</div>
							</td>
						</tr>
						<tr>
							<td width="40" class="bold">物业</td>
							<td width="300">
								<input name="propertyFee" [(ngModel)]="intact.propertyFee" #_propertyFee="ngModel" pattern="^[0-9]{0,2}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写物业费"> 元/平米/月
								<div class="error">
									<span *ngIf="_propertyFee.errors?.pattern">请填写1-2位整数，支持两位小数</span>
								</div>
							</td>
							<td class="bold">租金</td>
							<td>
								<input name="rentFee" [(ngModel)]="intact.rentFee" #_rentFee="ngModel" pattern="^[1-9][0-9]{0,4}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写租金"> 元/月
								<div class="error">
									<span *ngIf="_rentFee.errors?.pattern">请填写1-5位整数，支持两位小数</span>
								</div>
							</td>
						</tr>
						<tr>
							<td class="bold">燃气</td>
							<td>
								<input name="gasFee" [(ngModel)]="intact.gasFee" #_gasFee="ngModel" pattern="^[0-9]{0,2}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写燃气费"> 元/立方
								<div class="error">
									<span *ngIf="_gasFee.errors?.pattern">请填写1-2位整数，支持两位小数</span>
								</div>
							</td>
							<td class="bold">暖气</td>
							<td>
								<input name="warmAirFee" [(ngModel)]="intact.warmAirFee" #_warmAirFee="ngModel" pattern="^[0-9]{0,2}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写暖气费"> 元/平米/月
								<div class="error">
									<span *ngIf="_warmAirFee.errors?.pattern">请填写1-2位整数，支持两位小数</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">建筑形状：</span>
				<div class="edit-content">
					<select name="buildingShape" [(ngModel)]="intact.buildingShape">
						<option [value]="item.code" *ngFor="let item of buildingShape">{{item.name}}</option>
					</select>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">产权类型：</span>
				<div class="edit-content">
					<select name="propertyRight" [(ngModel)]="intact.propertyRight">
						<option [value]="item.code" *ngFor="let item of propertyRight">{{item.name}}</option>
					</select>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">拆迁风险：</span>
				<div class="edit-content">
					<select name="removeRisk" [(ngModel)]="intact.removeRisk">
						<option [value]="item.code" *ngFor="let item of removeRisk">{{item.name}}</option>
					</select>
				</div>
			</div>
			<div class="edit-group" *ngIf="intact.removeRisk == 1">
				<span class="edit-title">风险备注：</span>
				<div class="edit-content">
					<textarea class="z-textarea" maxlength="300" name="riskDescription" [(ngModel)]="intact.riskDescription" placeholder="请填写拆迁风险详情（300个字以内）"></textarea>
				</div>
			</div>
			<h2 class="z-title-md-style" id="fangdong">
				房东信息
				<div class="z-btn-green-sm ml20" (click)="openLandlord()" *ngIf="!landlordList.length">添加</div>
			</h2>
			<div class="edit-group">
				<p class="tipEmpty" *ngIf="!landlordList.length">请添加房东信息</p>
				<table class="z-table-sm mt20" *ngFor="let item of landlordList;let i=index">
					<tr>
						<th>称呼</th>
						<th>联系号码</th>
						<th>出生年月</th>
						<th>真实姓名</th>
						<th>QQ</th>
						<th>微信</th>
						<th>操作</th>
					</tr>
					<tr>
						<td>{{item.nickname}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.birthday}}</td>
						<td>{{item.name}}</td>
						<td>{{item.qq}}</td>
						<td>{{item.wechart}}</td>
						<td>
							<div class="z-btn-blue-sm mr3" (click)="openLandlord(item)">编辑</div>
							<div class="z-btn-red-sm" (click)="openLandlordDel(i)">删除</div>
						</td>	
					</tr>
				</table>
			</div>
		</div>	

		<div class="z-bg-white">
			<h1 class="f18 bold blue" id="dianpu">当前店铺</h1>
			<hr>
			<h2 class="z-title-md-style" id="jiben">基本信息</h2>
			<div class="edit-group">
				<span class="edit-title">店名：</span>
				<div class="edit-content">
					<input name="shopName" *ngIf="!intact.isBrand || !intact.brandName" [(ngModel)]="intact.shopName" type="text" maxlength="50" class="z-input" placeholder="请填写店铺名称">
					<input name="shopName2" *ngIf="intact.isBrand && intact.brandName" value="{{intact.brandName + (intact.branchName ? '('+intact.branchName+')': '')}}" readonly type="text" maxlength="50" class="z-input" placeholder="请填写店铺名称">
					<label class="z-checkbox ml30">
						<input name="isBrand" [(ngModel)]="intact.isBrand" type="checkbox"><i></i>品牌店铺
					</label>
				</div>
			</div>
			<div class="isBrand" *ngIf="intact.isBrand">
				<div class="edit-group">
					<span class="edit-title z-required">品牌名：</span>
					<div class="edit-content">
						<input name="brandName" required [(ngModel)]="intact.brandName" #_brandName="ngModel" type="text" maxlength="30" class="z-input" placeholder="请填写品牌名称">
						<div class="error">
							<span *ngIf="_brandName.errors?.required && (!_brandName.pristine || intactSubmitted)">请填写品牌名</span>
						</div>
					</div>
				</div>		
				<div class="edit-group">
					<span class="edit-title z-required">分店名：</span>
					<div class="edit-content">
						<input name="branchName" required [(ngModel)]="intact.branchName" #_branchName="ngModel" type="text" maxlength="10" class="z-input" placeholder="请填写分店名称">
						<div class="error">
							<span *ngIf="_branchName.errors?.required && (!_branchName.pristine || intactSubmitted)">请填写分店名</span>
						</div>
					</div>
				</div>		
				<div class="edit-group">
					<span class="edit-title">运营模式：</span>
					<div class="edit-content">
						<select [(ngModel)]="intact.operationType" name="operationType">
							<option [value]="item.code" *ngFor="let item of brandOperationType">{{item.name}}</option>
						</select>
					</div>
				</div>				
			</div>
			<div class="edit-group">
				<span class="edit-title">经营行业：</span>
				<div class="edit-content">
					<app-choose-industry [(selectedList)]="intact.industry" [defaultCodes]="industryDefault" [chooseBig]=false [max]=10 (click)="clickIndustry=true"></app-choose-industry>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">开业日期：</span>
				<div class="edit-content">
					<input type="text" class="z-input" id="openDate" readonly placeholder="请选择日期">
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">经营状态：</span>
				<div class="edit-content">
					<select name="operateStatus" [(ngModel)]="intact.operateStatus">
						<option [value]="item.code" *ngFor="let item of operateStatus">{{item.name}}</option>
					</select>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title z-required">联系人：</span>
				<div class="edit-content">
					<input name="contactName" required [(ngModel)]="intact.contactName" #_contactName="ngModel" maxlength="20" type="text" class="z-input" placeholder="请填写联系人">
					<div class="error">
						<span *ngIf="_contactName.errors?.required && (!_contactName.pristine || intactSubmitted)">请填写联系人</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title z-required">联系电话：</span>
				<div class="edit-content">
					<input name="contactMobile" [(ngModel)]="intact.contactMobile" #_contactMobile="ngModel" required pattern="^[0-9\-]{7,13}$" type="text" class="z-input" placeholder="请填写联系电话">
					<div class="error">
						<span *ngIf="_contactMobile.errors?.pattern">请填写正确的联系电话</span>
						<span *ngIf="_contactMobile.errors?.required && (!_contactMobile.pristine || intactSubmitted)">请填写联系电话</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">外卖电话：</span>
				<div class="edit-content">
					<input type="text" class="z-input" name="outSaleMobile" [(ngModel)]="intact.outSaleMobile" #_outSaleMobile="ngModel" placeholder="请填写外卖电话" pattern="^[0-9\-]{7,13}$" >
					<div class="error">
						<span *ngIf="_outSaleMobile.errors?.pattern">请填写正确的电话号码</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">营业时间：</span>
				<div class="edit-content">
					<div class="businessHours">
						<div class="title">
							<span class="mr10" [class.active]="!bTime" (click)="bTime = false">营业日</span>
							<span [class.active]="bTime" (click)="bTime = true">营业时段</span>
						</div>
						<div class="content">
							<div [hidden]="bTime">
								<label class="z-checkbox">
									<input type="checkbox" name="wholeWeek" [(ngModel)]="wholeWeek" (click)="chooseWholeWeek(wholeWeek)"><i></i>整周
								</label>
								<div class="mt10">
									<label class="z-checkbox" *ngFor="let item of weekItems" (click)="chooseWeekItem(item.value)">
										<input type="checkbox" name="{{'week' + item.code}}" [(ngModel)]="item.value"><i></i>{{item.name}}
									</label>								
								</div>
							</div>
							<div [hidden]="!bTime">
								<label class="z-checkbox">
									<input type="checkbox" name="wholeDay" [(ngModel)]="wholeDay" (click)="chooseWholeDay(wholeDay)"><i></i>24小时营业
								</label>
								或
								<input type="text" class="z-input" readonly id="bStartTime" name="bStartTime" [(ngModel)]="bStartTime" placeholder="开始时间"> -
								<input type="text" class="z-input" readonly id="bEndTime" name="bEndTime" [(ngModel)]="bEndTime" placeholder="结束时间">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">装修档次：</span>
				<div class="edit-content">
					<select name="decorateGrade" [(ngModel)]="intact.decorateGrade">
						<option [value]="item.code" *ngFor="let item of decorateGrade">{{item.name}}</option>
					</select>
				</div>
			</div>
			<div class="edit-group service">
				<span class="edit-title">提供服务：</span>
				<div class="edit-content">
					<label class="z-checkbox" *ngFor="let item of serviceItems">
						<input type="checkbox" name="{{'service' + item.code}}" [(ngModel)]="item.value"><i></i>{{item.name}}
					</label>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">店铺租金：</span>
				<div class="edit-content">
					<input type="number" class="z-input vat mr5" [(ngModel)]="intact.shopRentFee" name="shopRentFee" placeholder="请填写店铺租金" #_shopRentFee="ngModel" pattern="^[1-9][0-9]{0,5}(\.[1-9]{0,2})?$">
					<select [(ngModel)]="intact.rentUnit" name="rentUnit">
						<option [value]="item.code" *ngFor="let item of rentUnit">{{item.name}}</option>
					</select>
					<div class="error">
						<span *ngIf="_shopRentFee.errors?.pattern">请填写1-6位数字，支持两位小数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">支付方式：</span>
				<div class="edit-content">
					付
					<input name="payWayGive" [(ngModel)]="intact.payWayGive" type="number" #_payWayGive="ngModel" pattern="^[1-9][0-9]?$" [style.width.px]=80 class="z-input">
					月
					<span class="ml15">押 </span>
					<input name="payWayPut" [(ngModel)]="intact.payWayPut" type="number" #_payWayPut="ngModel" pattern="^[1-9][0-9]?$" [style.width.px]=80 class="z-input">
					月
					<div class="error">
						<span *ngIf="_payWayGive.errors?.pattern || _payWayPut.errors?.pattern">请输入1-2位正整数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">是否递增：</span>
				<div class="edit-content">
					<select name="increase" [(ngModel)]="intact.increase">
						<option [value]="item.code" *ngFor="let item of increaseSelect">{{item.name}}</option>
					</select>
	 			</div>
			</div>
			<div class="edit-group" *ngIf="intact.increase == 1">
				<span class="edit-title">递增幅度：</span>
				<div class="edit-content">
					<input type="text" class="z-input" name="increaseNum" [(ngModel)]="intact.increaseNum" maxlength="20" placeholder="请填写 如：5%每年">
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">租约日期：</span>
				<div class="edit-content">
					<input type="text" class="z-input" name="rentBeginDate"  readonly id="leaseDate" placeholder="请选择日期">
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">租期：</span>
				<div class="edit-content">
					<input type="number" class="z-input" placeholder="请填写租期" name="rentMonths"  [(ngModel)]="intact.rentMonths" #_rentMonths="ngModel" pattern="^[1-9][0-9]*$"> 月
					<div class="error">
						<span *ngIf="_rentMonths.errors?.pattern">请输入正整数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">剩余合同租期：</span>
				<div class="edit-content">
					<input type="number" class="z-input" placeholder="请填写剩余合同租期" name="remainMonths"  [(ngModel)]="intact.remainMonths" #_remainMonths="ngModel" pattern="^[1-9][0-9]*$"> 月
					<div class="error">
						<span *ngIf="_remainMonths.errors?.pattern">请输入正整数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">客单价：</span>
				<div class="edit-content">
					<input name="operatePrice" [(ngModel)]="intact.operatePrice" #_operatePrice="ngModel" pattern="^[1-9][0-9]{0,7}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写客单价"> 元
					<div class="error">
						<span *ngIf="_operatePrice.errors?.pattern">请填写1-8位整数，支持两位小数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">日均营业额：</span>
				<div class="edit-content">
					<input name="operateDayVolume" [(ngModel)]="intact.operateDayVolume" #_operateDayVolume="ngModel" pattern="^[1-9][0-9]{0,7}(\.[1-9]{0,2})?$" type="number" class="z-input" placeholder="请填写日均营业额"> 元
					<div class="error">
						<span *ngIf="_operateDayVolume.errors?.pattern">请填写1-8位整数，支持两位小数</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">消费人群：</span>
				<div class="edit-content">
					<textarea name="operateConsumer" [(ngModel)]="intact.operateConsumer" maxlength="50" class="z-textarea" placeholder="描述人群特征，如：附近居民、学生、游客、工薪、商务、年轻人、老年人"></textarea>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">最旺时段：</span>
				<div class="edit-content">
					<textarea name="operateBestTimes" [(ngModel)]="intact.operateBestTimes" maxlength="50" class="z-textarea" placeholder="填写时段，如：早上7:00-10:00  上午、晚上、凌晨"></textarea>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">堂食量：</span>
				<div class="edit-content">
					<input type="number" class="z-input" placeholder="请填写堂食量" name="operateNumInRoom"  [(ngModel)]="intact.operateNumInRoom" #_operateNumInRoom="ngModel" pattern="^[1-9][0-9]{0,9}$">
					<div class="error">
						<span *ngIf="_operateNumInRoom.errors?.pattern">请输入1-10位数字</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">外卖量：</span>
				<div class="edit-content">
					<input type="number" class="z-input" placeholder="请填写外卖量" name="operateOutSaleNum"  [(ngModel)]="intact.operateOutSaleNum" #_operateOutSaleNum="ngModel" pattern="^[1-9][0-9]{0,9}$">
					<div class="error">
						<span *ngIf="_operateOutSaleNum.errors?.pattern">请输入1-10位数字</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">会员数：</span>
				<div class="edit-content">
					<input type="number" class="z-input" placeholder="请填写会员数" name="operateVipNum"  [(ngModel)]="intact.operateVipNum" #_operateVipNum="ngModel" pattern="^[1-9][0-9]{0,9}$">
					<div class="error">
						<span *ngIf="_operateVipNum.errors?.pattern">请输入1-10位数字</span>
					</div>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">会员形式：</span>
				<div class="edit-content">
					<select name="operateVipMode" [(ngModel)]="intact.operateVipMode">
						<option [value]="item.code" *ngFor="let item of operateVipMode">{{item.name}}</option>
					</select>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">店铺描述：</span>
				<div class="edit-content">
					<textarea class="z-textarea" placeholder="请填写店铺描述" maxlength="50" name="description" [(ngModel)]="intact.description"></textarea>
				</div>
			</div>
			<h2 class="z-title-md-style" id="laoban">
				老板信息
				<div class="z-btn-green-sm ml20" (click)="openBoss()" *ngIf="bossList.length < 6">添加</div>
			</h2>
			<div class="edit-group">
				<p class="tipEmpty" *ngIf="!bossList.length">请添加老板信息</p>
				<table class="z-table-sm mt20" *ngIf="bossList.length">
					<tr>
						<th>身份</th>
						<th>称呼</th>
						<th>参股比例</th>
						<th>联系方式</th>
						<th>出生年月</th>
						<th>地址</th>
						<th>操作</th>
					</tr>
					<tr *ngFor="let item of bossList; let i = index;">
						<td>
							<span *ngIf="item.type == 0">老板</span>
							<span *ngIf="item.type == 1">合伙人</span>
						</td>
						<td>{{item.nickname}}</td>
						<td>
							<span *ngIf="item.stock">{{item.stock}}%</span>
							<span *ngIf="!item.stock">暂无</span>
						</td>
						<td>{{item.mobile || '暂无'}}</td>
						<td>{{item.birthday || '暂无'}}</td>
						<td>
							<span *ngIf="item.districtId">{{item.districtId | cityName}}</span>
							<span *ngIf="!item.districtId">暂无</span>
						</td>
						<td>
							<div class="z-btn-blue-sm mr3" (click)="openBoss(item)">编辑</div>
							<div class="z-btn-red-sm" (click)="openBossDel(item, i)">删除</div>
						</td>	
					</tr>
				</table>
			</div>
			<h2 class="z-title-md-style" id="yuangong">
				员工信息
				<div class="z-btn-green-sm ml20" (click)="openEmployee()">添加</div>
			</h2>
			<div class="edit-group">
				<p class="tipEmpty" *ngIf="!employeeList.length">请添加员工信息</p>
				<table class="z-table-sm mt20" *ngIf="employeeList.length">
					<tr>
						<th width="150">员工姓名</th>
						<th>联系号码</th>
						<th>入职日期</th>
						<th width="350">工作内容</th>
						<th>是否离职</th>
						<th>离职日期</th>
						<th>操作</th>
					</tr>
					<tr *ngFor="let item of employeeList;let idx = index;">
						<td>{{item.nickname || '暂无'}}</td>
						<td>{{item.mobile || '暂无'}}</td>
						<td>{{item.enterDate || '暂无'}}</td>
						<td>{{item.jobDescription || '暂无'}}</td>
						<td>
							<span *ngIf="item.isQuit == 2">是</span>
							<span *ngIf="item.isQuit == 1">否</span>
							<span *ngIf="!item.isQuit">暂无</span>
						</td>
						<td>{{item.quitDate || '暂无'}}</td>
						<td>
							<div class="z-btn-blue-sm mr5" (click)="openEmployee(item)">编辑</div>
							<div class="z-btn-red-sm" (click)="openEmployeeDel(item, idx)">删除</div>
						</td>
					</tr>
				</table>
			</div>
			<h2 class="z-title-md-style" id="tupian">图片信息</h2>
			<div class="pl20">
				<div class="picInfo">
					<span (click)="imgToggle=false" [class.active]="!imgToggle">门面</span>
					<span (click)="imgToggle=true" [class.active]="imgToggle">环境</span>			
				</div>
				<div class="picContent">
					<div [hidden]="imgToggle">
						<p class="ml10 green mb5">请上传门面图片，最多可上传5张</p>
						<app-previewimg [(previewImgFile)]="doorPhotoList" max=5></app-previewimg>
					</div>
					<div [hidden]="!imgToggle">
						<p class="ml10 green mb5">请上传环境图片，最多可上传10张</p>
						<app-previewimg [(previewImgFile)]="environmentPhotoList" max=10></app-previewimg>
					</div>
				</div>				
			</div>
			<h2 class="z-title-md-style" id="zhengjian">
				证件信息
				<div class="z-btn-green-sm ml20" (click)="openCertificate()" *ngIf="certificateList.length < 5">添加</div>
			</h2>
			<div class="edit-group">
				<p class="tipEmpty" *ngIf="!certificateList?.length">请添加证件信息</p>
				<div *ngIf="certificateList?.length" class="certificateList">
					<div class="group" *ngFor="let item of certificateList; let i = index;">
						<p>{{item.type | certificateType}}</p>
						<img src="{{item.photoList && item.photoList[0].url}}" width="150" height="150" alt="">
						<div class="mt10">
							<button class="z-btn-blue-sm f-l" (click)="openCertificate(item)">编辑</button>
							<button class="z-btn-red-sm f-r" (click)="openCertificateDel(item, i)">删除</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="z-bg-white transfer" id="zhuanrang">
			<h1 class="f18 bold blue">转让信息</h1>
			<hr>
			<div class="edit-group mt20">
				<span class="edit-title">转让状态：</span>
				<div class="edit-content">
					<label class="z-radio mr26" *ngFor="let item of transferStatusItems">
						<input [value]="item.code" name="transferStatus" [(ngModel)]="intact.transferStatus" type="radio"><i></i> {{item.name}}
					</label>
				</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">转让费：</span>
				<div class="edit-content">
					<input type="number" class="z-input" placeholder="请输入转让费" name="transferFee" [(ngModel)]="intact.transferFee" #_transferFee="ngModel" pattern="^[1-9][0-9]{0,3}(\.[0-9]{0,2})?$"> 万元
					<div class="error">
						<span *ngIf="_transferFee.errors?.pattern">请输入1-4位数字，支持两位小数</span>
					</div>
	 			</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">可否面议：</span>
				<div class="edit-content">
					<select name="negotiable" [(ngModel)]="intact.negotiable">
						<option [value]="item.code" *ngFor="let item of negotiableSelect">{{item.name}}</option>
					</select>
	 			</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">可否空转：</span>
				<div class="edit-content">
					<select name="freeTransfer" [(ngModel)]="intact.freeTransfer">
						<option [value]="item.code" *ngFor="let item of freeTransferSelect">{{item.name}}</option>
					</select>
	 			</div>
			</div>
			<div class="edit-group" *ngIf="intact.freeTransfer == 2">
				<span class="edit-title">空转转让费：</span>
				<div class="edit-content">
					<input type="number" class="z-input" name="freeTransferFee" [(ngModel)]="intact.freeTransferFee" #_freeTransferFee="ngModel" pattern="^[1-9][0-9]*$" placeholder="请输入空转转让费"> 万元
					<div class="error">
						<span *ngIf="_freeTransferFee.errors?.pattern">请输入正整数</span>
					</div>
	 			</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">转让内容：</span>
				<div class="edit-content">
					<textarea class="z-textarea" name="transferContent" maxlength="100" [(ngModel)]="intact.transferContent" placeholder="请填写转让内容（100字以内）"></textarea>
	 			</div>
			</div>
			<div class="edit-group">
				<span class="edit-title">转让原因：</span>
				<div class="edit-content">
					<textarea class="z-textarea" name="transferReason" maxlength="300" [(ngModel)]="intact.transferReason" placeholder="请填写转让原因（300字以内）"></textarea>
	 			</div>
			</div>
		</div>
		
	</form>
</div>

<!-- 提交修改 -->
<div class="z-btn-blue-lg submitEdit" (click)="edit()">提交修改</div>

<!-- 编辑房东信息 -->
<div class="modal fade" bsModal #landlordModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" [style.width.px]=635>
    <div class="modal-content">
    	<form name="landlordForm" #landlordForm="ngForm" (ngSubmit)="submitLandlord(landlordForm)">
	        <div class="modal-header">
	        	<h4 class="modal-title pull-left">{{modalTitle}}房东信息</h4>
	        	<button type="button" class="close pull-right" aria-label="Close" (click)="landlordModal.hide()">
	            <span aria-hidden="true">&times;</span>
	      		</button>
	        </div>
	        <div class="modal-body">
	    		<!-- <div class="modal-group">
					<span class="edit-title z-required">身份：</span>
					<div class="edit-content">
						<select name="landlordIdentity" [(ngModel)]="landlord.identity">
							<option [value]="item.code" *ngFor="let item of [{code: 1, name: '房东'}]">{{item.name}}</option>
						</select>
					</div>
				</div> -->
				<div class="modal-group">
					<span class="edit-title z-required">称呼：</span>
					<div class="edit-content">
						<input type="text" class="z-input" required name="landlordNickname" #_landlordNickname="ngModel" [(ngModel)]="landlord.nickname" placeholder="请输入称呼" maxlength="20">
						<label class="z-radio ml10">
							<input type="radio" value="1" [(ngModel)]="landlord.gender" name="gender"><i></i>男
						</label>
						<label class="z-radio ml20">
							<input type="radio" value="2" [(ngModel)]="landlord.gender" name="gender"><i></i>女
						</label>
						<div class="error">
							<span *ngIf="_landlordNickname.errors?.required && (!_landlordNickname.pristine || landlordForm.submitted)">！请填写房东称呼</span>
						</div>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title z-required">联系号码：</span>
					<div class="edit-content">
						<input type="number" class="z-input" name="landlordPhone" required [(ngModel)]="landlord.phone" #_landlordPhone="ngModel" placeholder="请输入联系号码" pattern="^[0-9\-]{7,13}$">
						<div class="z-add vat ml10" (click)="landlordPhoneAdd()" title="点击添加更多联系号码" *ngIf="landlord.phoneList?.length < 3"></div>
						<div class="error">
							<span *ngIf="_landlordPhone.errors?.pattern">请输入正确的手机号码</span>
							<span *ngIf="_landlordPhone.errors?.required && (!_landlordPhone.pristine || landlordForm.submitted)">！请输入联系手机号码</span>
						</div>
						<div class="mt18 mb5" *ngFor="let item of landlord.phoneList; let i = index;">
							<input type="number" class="z-input" name="{{'landlordPhone' + i}}" [(ngModel)]="landlord.phoneList[i]" placeholder="请输入联系号码" pattern="^[0-9\-]{7,13}$">
							<div class="z-del vat ml10" title="点击删除该号码" (click)="landlordPhoneDel(i)"></div>
							<div class="error">
								<span *ngIf="landlordForm.controls['landlordPhone' + item.code]?.errors?.pattern">请输入正确的联系号码</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">真实姓名：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="landlordName" [(ngModel)]="landlord.name" maxlength="20" placeholder="请输入真实姓名">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">出生年月：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="landlordBirthday" [(ngModel)]="landlord.birthday" id="landlordBirthday" readonly placeholder="点击选择年月日">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">电子邮件：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="landlordEmail" [(ngModel)]="landlord.email" #_landlordEmail="ngModel" pattern="^\w+@\w+\.[a-z]+(\.[a-z]+)?$" maxlength="30" placeholder="请输入电子邮件">
						<div class="error">
							<span *ngIf="_landlordEmail.errors?.pattern">请输入正确的邮箱地址</span>
						</div>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">联系地址</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="landlordEmail" [(ngModel)]="landlord.address" maxlength="50" placeholder="请输入联系地址">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">QQ：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="landlordQQ" [(ngModel)]="landlord.qq" maxlength="20"  placeholder="请输入QQ号">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">微信：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="landlordWechart" [(ngModel)]="landlord.wechart" maxlength="20"  placeholder="请输入微信号">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">其他描述：</span>
					<div class="edit-content">
						<textarea class="z-textarea" name="landlordDescription" [(ngModel)]="landlord.description" maxlength="300" placeholder="请填写描述信息（300字以内）"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="f-r">
					<button type="button" class="z-btn-grey-lg mr7" (click)="landlordModal.hide();">取消</button>
					<button type="submit" class="z-btn-blue-lg">确定</button>
				</div>
			</div>
    	</form>
    </div>
  </div>
</div>

<!-- 删除房东信息 -->
<div class="modal fade" bsModal #landlordDelModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
	        <h4 class="modal-title pull-left">删除房东信息</h4>
	        <button type="button" class="close pull-right" aria-label="Close" (click)="landlordDelModal.hide()">
	          <span aria-hidden="true">&times;</span>
	        </button>
        </div>
        <div class="modal-body">
        	<p class="f16 red tac">确定删除当前房东信息？</p>
		</div>
		<div class="modal-footer">
			<div class="f-r">
				<button type="button" class="z-btn-grey-lg mr7" (click)="landlordDelModal.hide()">取消</button>
				<button type="button" class="z-btn-blue-lg" (click)=delLandlord()>确定</button>
			</div>
		</div>
    </div>
  </div>
</div>

<!-- 添加或编辑老板信息 -->
<div class="modal fade" bsModal #bossModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" [style.width.px]=635>
    <div class="modal-content">
    	<form name="bossForm" #bossForm="ngForm" (ngSubmit)="submitBoss(bossForm)">
	        <div class="modal-header">
	        	<h4 class="modal-title pull-left">{{modalTitle}}老板信息</h4>
	        	<button type="button" class="close pull-right" aria-label="Close" (click)="bossModal.hide()">
	            <span aria-hidden="true">&times;</span>
	      		</button>
	        </div>
	        <div class="modal-body">
				<div class="modal-group">
					<span class="edit-title z-required">身份：</span>
					<div class="edit-content">
						<select name="bossIdentity" [(ngModel)]="boss.type">
							<option [value]="item.code" *ngFor="let item of bossIdentities">{{item.name}}</option>
						</select>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title z-required">称呼：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="bossNickname" required [(ngModel)]="boss.nickname" #_bossNickname="ngModel" placeholder="请输入称呼" maxlength="20">
						<label class="z-radio ml10">
							<input type="radio" value="1" [(ngModel)]="boss.gender" name="bossGender"><i></i>男
						</label>
						<label class="z-radio ml20">
							<input type="radio" value="2" [(ngModel)]="boss.gender" name="bossGender"><i></i>女
						</label>
						<div class="error">
							<span *ngIf="_bossNickname.errors?.required && (!_bossNickname.pristine || bossForm.submitted)">！请填写老板称呼</span>
						</div>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title z-required">联系号码：</span>
					<div class="edit-content">
						<input type="number" class="z-input" name="bossPhone" required [(ngModel)]="boss.mobile" #_bossPhone="ngModel" placeholder="请输入联系号码" pattern="^[0-9\-]{7,13}$">
						<div class="z-add vat ml10" (click)="bossPhoneAdd()" title="点击添加更多号码" *ngIf="boss.phoneList?.length < 3"></div>
						<div class="error">
							<span *ngIf="_bossPhone.errors?.pattern">请输入正确的联系号码</span>
							<span *ngIf="_bossPhone.errors?.required && (!_bossPhone.pristine || bossForm.submitted)">！请输入联系号码</span>
						</div>
						<div class="mt18 mb5" *ngFor="let item of boss.phoneList; let i = index;">
							<input type="number" class="z-input" name="{{'bossPhone' + i}}" [(ngModel)]="boss.phoneList[i]" placeholder="请输入联系号码" pattern="^[0-9\-]{7,13}$">
							<div class="z-del vat ml10" title="点击删除该号码" (click)="bossPhoneDel(i)"></div>
							<div class="error">
								<span *ngIf="bossForm.controls['bossPhone' + item.code]?.errors?.pattern">请输入正确的联系号码</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title z-required">所在区域：</span>
					<div class="edit-content">
						<app-choose-district [(selectedCode)]="boss.districtId" [(isDetail)]="bossDistrictiIsDetail" (click)="clickDistrict=true"></app-choose-district>
						<div class="error">
							<span *ngIf="!bossDistrictiIsDetail && (bossForm.submitted || clickDistrict)">！请选择具体区域</span>
						</div>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">店铺参股比例（%）：</span>
					<div class="edit-content">
						<input type="number" class="z-input" placeholder="1-100，允许两位小数" name="rate" [(ngModel)]="boss.stock" #_rate="ngModel" pattern="^(([1-9][0-9]?(\.[0-9]{0,2})?)|100)$">
						<div class="error">
							<span *ngIf="_rate.errors?.pattern">请输入1-100之间的数字，支持两位小数</span>
						</div>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">真实姓名：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="bossName" [(ngModel)]="boss.realName" maxlength="20" placeholder="请输入真实姓名">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">出生年月：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="bossBirthday" [(ngModel)]="boss.birthday" id="bossBirthday" readonly placeholder="点击选择年月日">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">电子邮件：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="bossEmail" [(ngModel)]="boss.email" maxlength="30" #_bossEmail="ngModel" pattern="^\w+@\w+\.[a-z]+(\.[a-z]+)?$" placeholder="请输入电子邮件">
						<div class="error">
							<span *ngIf="_bossEmail.errors?.pattern">请输入正确的邮箱地址</span>
						</div>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">QQ：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="bossQQ" [(ngModel)]="boss.otherAccountQq" maxlength="20"  placeholder="请输入QQ号">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">微信：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="bossWechart" [(ngModel)]="boss.otherAccountWx" maxlength="20"  placeholder="请输入微信号">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">其他描述：</span>
					<div class="edit-content">
						<textarea class="z-textarea" name="bossDescription" [(ngModel)]="boss.otherDescription" maxlength="300" placeholder="请填写描述信息（300字以内）"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="f-r">
					<button type="button" class="z-btn-grey-lg mr7" (click)="bossModal.hide()">取消</button>
					<button type="submit" class="z-btn-blue-lg">确定</button>
				</div>
			</div>    		
    	</form>

    </div>
  </div>
</div>

<!-- 删除老板信息 -->
<div class="modal fade" bsModal #bossDelModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
	        <h4 class="modal-title pull-left">删除老板信息</h4>
	        <button type="button" class="close pull-right" aria-label="Close" (click)="bossDelModal.hide()">
	          <span aria-hidden="true">&times;</span>
	        </button>
        </div>
        <div class="modal-body">
        	<p class="f16 red tac">确定删除当前老板信息？</p>
		</div>
		<div class="modal-footer">
			<div class="f-r">
				<button type="button" class="z-btn-grey-lg mr7" (click)="bossDelModal.hide()"w>取消</button>
				<button type="button" class="z-btn-blue-lg" (click)="delBoss()">确定</button>
			</div>
		</div>
    </div>
  </div>
</div>

<!-- 添加或编辑员工信息 -->
<div class="modal fade" bsModal #employeeModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" [style.width.px]=635>
    <div class="modal-content">
    	<form name="employeeForm" #employeeForm="ngForm" (ngSubmit)="submitEmployee(employeeForm)">
	        <div class="modal-header">
	        	<h4 class="modal-title pull-left">{{modalTitle}}员工信息</h4>
	        	<button type="button" class="close pull-right" aria-label="Close" (click)="employeeModal.hide()">
	            <span aria-hidden="true">&times;</span>
	      		</button>
	        </div>
	        <div class="modal-body">
				<div class="modal-group">
					<span class="edit-title z-required">称呼：</span>
					<div class="edit-content">
						<input type="text" class="z-input" required name="employeeeNickname" [(ngModel)]="employee.nickname" #_employeeNickname="ngModel" placeholder="请输入称呼" maxlength="20">
						<label class="z-radio ml10">
							<input type="radio" value="1" [(ngModel)]="employee.gender" name="gender"><i></i>男
						</label>
						<label class="z-radio ml20">
							<input type="radio" value="2" [(ngModel)]="employee.gender" name="gender"><i></i>女
						</label>
						<div class="error">
							<span *ngIf="_employeeNickname.errors?.required && (!_employeeNickname.pristine || employeeForm.submitted)">！请填写老板称呼</span>
						</div>
					</div>
				</div>
				<!-- <div class="modal-group">
					<span class="edit-title z-required">岗位：</span>
					<div class="edit-content">
						<input type="text" class="z-input" placeholder="请输入岗位名称" name="position" [(ngModel)]="employee.position" maxlength="20">
					</div>
				</div> -->
				<div class="modal-group">
					<span class="edit-title z-required">联系号码：</span>
					<div class="edit-content">
						<input type="number" class="z-input" name="employeePhone" required [(ngModel)]="employee.mobile" #_employeePhone="ngModel" placeholder="请输入联系号码" pattern="^[0-9\-]{7,13}$">
						<div class="z-add vat ml10" (click)="employeePhoneAdd()" title="点击添加更多联系号码" *ngIf="employee.phoneList?.length < 3"></div>
						<div class="error">
							<span *ngIf="_employeePhone.errors?.pattern">请输入正确的手机号码</span>
							<span *ngIf="_employeePhone.errors?.required && (!_employeePhone.pristine || employeeForm.submitted)">！请输入联系号码</span>
						</div>
						<div class="mt18 mb5" *ngFor="let item of employee.phoneList; let i = index;">
							<input type="number" class="z-input" name="{{'employeePhone' + i}" [(ngModel)]="employee.phoneList[i]" placeholder="请输入联系号码" pattern="^[0-9\-]{7,13}$">
							<div class="z-del vat ml10" title="点击删除该号码" (click)="employeePhoneDel(i)"></div>
							<div class="error">
								<span *ngIf="employeeForm.controls['employeePhone' + item.code]?.errors?.pattern">请输入正确的联系号码</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">真实姓名：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="name" [(ngModel)]="employee.realName" maxlength="20" placeholder="请输入真实姓名">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">入职日期：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="joinDate" id="joinDate" [(ngModel)]="employee.enterDate" placeholder="请选择入职日期">
						<label class="z-checkbox ml10">
							<input type="checkbox" name="isLeave" [(ngModel)]="employee.isQuit"><i></i>已离职
						</label>
					</div>
				</div>
				<div class="modal-group" [hidden]="!employee.isQuit">
					<span class="edit-title">离职日期：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="dimissionDate" id="dimissionDate" [(ngModel)]="employee.quitDate" placeholder="请选择离职日期">
					</div>
				</div>
				<div class="modal-group">
					<span class="edit-title">工作内容：</span>
					<div class="edit-content">
						<textarea class="z-textarea" name="workContent" [(ngModel)]="employee.jobDescription" maxlength="300" placeholder="请填写描述信息（300字以内）"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="f-r">
					<button type="button" class="z-btn-grey-lg mr7" (click)="employeeDelModal.hide()">取消</button>
					<button type="submit" class="z-btn-blue-lg">确定</button>
				</div>
			</div>
		</form>
    </div>
  </div>
</div>
<!-- 删除员工信息 -->
<div class="modal fade" bsModal #employeeDelModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
	        <h4 class="modal-title pull-left">删除员工信息</h4>
	        <button type="button" class="close pull-right" aria-label="Close" (click)="employeeDelModal.hide()">
	          <span aria-hidden="true">&times;</span>
	        </button>
        </div>
        <div class="modal-body">
        	<p class="f16 red tac">确定删除当前员工信息？</p>
		</div>
		<div class="modal-footer">
			<div class="f-r">
				<button type="button" class="z-btn-grey-lg mr7" (click)="employeeDelModal.hide()">取消</button>
				<button type="button" class="z-btn-blue-lg" (click)="delEmployee()">确定</button>
			</div>
		</div>
    </div>
  </div>
</div>

<!-- 添加证件信息 -->
<div class="modal fade" bsModal #certificateModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" [style.width.px]=550>
    <div class="modal-content certificate">
    	<form name="certificateForm" #certificateForm="ngForm" (ngSubmit)="submitCertificate(certificateForm)">
	        <div class="modal-header">
		        <h4 class="modal-title pull-left">添加证件信息</h4>
		        <button type="button" class="close pull-right" aria-label="Close" (click)="certificateModal.hide()">
		          <span aria-hidden="true">&times;</span>
		        </button>
	        </div>
	        <div class="modal-body">
	        	<div class="modal-group">
					<span class="edit-title z-required">证件类型：</span>
					<div class="edit-content">
						<select name="certificateType" [(ngModel)]="certificate.type" #_certificateType="ngModel">
							<option [value]="item.code" *ngFor="let item of certificateTypeSelect">{{item.name}}</option>
						</select>
						<div class="error">
							<span *ngIf="certificate.type == -1 && (!_certificateType.pristine || certificateForm.submitted)">！请选择证件类型</span>
						</div>
					</div>
				</div>
	        	<div class="modal-group" *ngIf="certificate.type == '0'">
					<span class="edit-title z-required">证件类型名称：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="certificateName" required #_certificateName="ngModel" [(ngModel)]="certificate.name" maxlength="20" placeholder="请输入其他证件名称">
						<div class="error">
							<span *ngIf="certificate.type == '0' && _certificateName.errors?.required && (!_certificateName.pristine || certificateForm.submitted)">！请输入其他证件名称</span>
						</div>
					</div>
				</div>
	        	<div class="modal-group">
					<span class="edit-title">主体名称：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="mainName" [(ngModel)]="certificate.mainName" maxlength="50" placeholder="请输入主题名称">
					</div>
				</div>
	        	<div class="modal-group">
					<span class="edit-title">证件编码</span>
					<div class="edit-content">
						<input type="number" class="z-input" name="num" [(ngModel)]="certificate.code" maxlength="50" placeholder="请输入证件编码">
					</div>
				</div>
	        	<div class="modal-group">
					<span class="edit-title">地址：</span>
					<div class="edit-content">
						<input type="text" class="z-input" name="address" [(ngModel)]="certificate.address" maxlength="50" placeholder="请输入地址">
					</div>
				</div>
	        	<div class="modal-group">
					<span class="edit-title">许可范围：</span>
					<div class="edit-content">
						<textarea [style.width.px]=340 name="detailAddress" maxlength=300 [(ngModel)]="certificate.allowRange" class="z-textarea" placeholder="请输入许可范围"></textarea>
					</div>
				</div>
	        	<div class="modal-group">
					<span class="edit-title">其他内容：</span>
					<div class="edit-content">
						<textarea [style.width.px]=340 name="detailAddress" maxlength=100 [(ngModel)]="certificate.otherContent" class="z-textarea" placeholder="其他内容"></textarea>
					</div>
				</div>
	        	<div class="modal-group" [style.padding-bottom.px]=10>
					<span class="edit-title z-required">证件图片：</span>
					<div class="edit-content">
						<div class="certificateImg">
							<app-previewimg [(previewImgFile)]="certificate.photoList" max=3 (click)="clickCertificatePhoto = true"></app-previewimg>
						</div>
						<div class="error">
							<span *ngIf="(!certificate.photoList || !certificate.photoList?.length) && (clickCertificatePhoto || certificateForm.submitted)">！请上传证件图片，最多上传3张</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="f-r">
					<button type="button" class="z-btn-grey-lg mr7" (click)="certificateModal.hide()">取消</button>
					<button type="submit" class="z-btn-blue-lg">确定</button>
				</div>
			</div>
		</form>
    </div>
  </div>
</div>
<!-- 删除证件信息 -->
<div class="modal fade" bsModal #certificateDelModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
	        <h4 class="modal-title pull-left">删除证件信息</h4>
	        <button type="button" class="close pull-right" aria-label="Close" (click)="certificateDelModal.hide()">
	          <span aria-hidden="true">&times;</span>
	        </button>
        </div>
        <div class="modal-body">
        	<p class="f16 red tac">确定删除当前证件信息？</p>
		</div>
		<div class="modal-footer">
			<div class="f-r">
				<button type="button" class="z-btn-grey-lg mr7" (click)="certificateDelModal.hide()">取消</button>
				<button type="button" class="z-btn-blue-lg" (click)="delCertificate()">确定</button>
			</div>
		</div>
    </div>
  </div>
</div>


<!-- 目录导航 -->
<ul class="fixBar">
	<li class="iconfont icon-15" title="回到顶部" (click)="scrollTo()"></li>
</ul>

<!-- 左侧导航 -->
<div class="fixNav" [class.active]="hideNav">
	<dl>
		<dt [class.active]="scrollActive == 'wuyejianzhu'" (click)="scrollTo('wuyejianzhu')">物业建筑</dt>
		<dd [class.active]="scrollActive == 'weizhi'" (click)="scrollTo('weizhi')">位置信息</dd>
		<dd [class.active]="scrollActive == 'jianzhu'" (click)="scrollTo('jianzhu')">建筑信息</dd>
		<dd [class.active]="scrollActive == 'wuye'" (click)="scrollTo('wuye')">物业信息</dd>
		<dd [class.active]="scrollActive == 'fangdong'" (click)="scrollTo('fangdong')">房东信息</dd>

		<dt [class.active]="scrollActive == 'dianpu'" (click)="scrollTo('dianpu')">当前店铺</dt>
		<dd [class.active]="scrollActive == 'jiben'" (click)="scrollTo('jiben')">基本信息</dd>
		<dd [class.active]="scrollActive == 'laoban'" (click)="scrollTo('laoban')">老板信息</dd>
		<dd [class.active]="scrollActive == 'yuangong'" (click)="scrollTo('yuangong')">员工信息</dd>
		<dd [class.active]="scrollActive == 'tupian'" (click)="scrollTo('tupian')">图片信息</dd>
		<dd [class.active]="scrollActive == 'zhengjian'" (click)="scrollTo('zhengjian')">证件信息</dd>

		<dt [class.active]="scrollActive == 'zhuanrang'" (click)="scrollTo('zhuanrang')">转让信息</dt>
	</dl>
	<div class="toLeft" (click)="hideNav = !hideNav">
		<i class="iconfont icon-arrow-left1" *ngIf="!hideNav" title="隐藏目录"></i>
		<i class="iconfont icon-arrow-right1" *ngIf="hideNav" title="显示目录"></i>
	</div>
</div>
