.edit {
	padding-bottom: 650px;
	.edit-group {
		margin-bottom: 20px;
		.edit-title {
			width: 15%;
			text-align: right;
			display: inline-block;
			vertical-align: top;
		}
		.tipEmpty {
			padding-left: 20px;
			line-height: 50px;
			// color: #1972d6;
		}
		.edit-content {
			padding-left: 20px;
			width: 75%;
			display: inline-block;
		}
		&.property, &.service {
			label.z-checkbox {
				width: 145px;
				margin-bottom: 10px;
			}
		}
		&.fee {
			table {
				margin-bottom: -10px;
				tr>td{
					padding-bottom: 18px;
				}
			}
		}
		.businessHours {
			.title span{
				cursor: pointer;
				&:hover, &.active{
					color: #1972D6;
				}
			}
			.content {
				padding: 10px;
				margin-top: 3px;
				width: 540px;
				border-radius: 2px;
				border: 1px solid #efefef;
				label {
					margin-right: 20px;
				}
			}
		}
	}
	.picInfo {
		margin-top: 20px;
		span {
			display: inline-block;
			color: #333;
			font-weight: bold;
			cursor: pointer;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0 10px;
			height: 30px;
			border-radius: 2px;
			line-height: 30px;
			text-align: center;
			border: 1px solid #fff;
			&:hover {
				color: #1972D6;
			}
			&.active {
				color: #1972D6;
				background-color: #f9f9f9;
				border-color: #ccc;
			}
		}
	}
	.picContent {
		margin-left: -10px;
		margin-bottom: 20px;
	}
	.transfer {
		.z-radio {
			margin-right: 40px;
		}		
	}
}

.error {
	position: relative;
	span {
		position: absolute;
		top: 0;
		left: 0;
		color: #dd0031;
		font-size: 12px;	
	}

}
.modal-group {
	margin-bottom: 18px;
	&:last-child {
		margin-bottom: 0;
	}
	.edit-title {
		width: 140px;
		text-align: right;
		display: inline-block;
		line-height: 30px;
		vertical-align: top;
	}
	.edit-content {
		padding-left: 20px;
		display: inline-block;
		width: 400px;
	}
	.certificateImg{
		margin-left: -10px;
	}
}

.certificate {
	.modal-group {
		.edit-title {
			width: 115px;
		}
	}
}

.certificateList {
	margin-left: 20px;
	margin-top: 20px;
	.group {
		p {
			line-height: 20px;
		}
		border: 1px dotted #ccc;
		display: inline-block;
		margin-right: 10px;
		padding: 10px;
		button {
			margin-right: 5px;
		}
	}
}

//提交修改
.submitEdit {
	width: 300px;
	position: fixed;
	left: calc(50% - 150px);
	bottom: 1px;
	font-size: 18px;
	font-weight: bold;
}

//回到顶部
.fixBar {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 12px;
	text-align: center;
	li{
		width: 50px;
		height: 50px;
		background-color: #1972D6;
		margin-bottom: 3px;
		border-radius: 2px;
		cursor: pointer;
		color: #fff;
		line-height: 50px;
		&.iconfont {
			font-size: 24px;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}

//左侧导航目录
.fixNav{
	width: 120px;
	position: fixed;
	margin: auto;
	top: 22%;
	left: 0;
	padding: 10px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	border-radius: 0 10px 10px 0;
	background-color: #fff;
	transition: left .8s;
	&.active {
		left: -120px;
	}
	dt, dd {
		height: 30px;
		line-height: 30px;
		text-align: center;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
		&.active {
			border-color: #1972d6;
			color: #1972d6;
		}
	}
	.toLeft {
		position: absolute;
		cursor: pointer;
		width: 10px;
		height: 40px;
		line-height: 40px;
		border-radius: 0 10px 10px 0;
		box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);
		font-size: 14px;
		top: 0;
		right: -10px;
		bottom: 0;
		margin: auto;
		background-color: #fff;
		i {
			display: block;
			margin-left: -3px;
		}
	}
}
