.edit {
	.edit-group {
		margin-bottom: 15px;
		.edit-title {
			width: 15%;
			text-align: right;
			display: inline-block;
			vertical-align: top;
		}
		.edit-content {
			padding-left: 20px;
			width: 75%;
			display: inline-block;
		}
		&.property, &.service {
			label.z-checkbox {
				width: 170px;
				margin-bottom: 10px;
			}
		}
		&.fee {
			table {
				margin-bottom: -10px;
				tr>td{
					padding-bottom: 10px;
				}
			}
		}
	}
	.picInfo {
		margin-top: 20px;
		span {
			display: inline-block;
			color: #333;
			font-weight: bold;
			cursor: pointer;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0 10px;
			height: 30px;
			border-radius: 2px;
			line-height: 30px;
			text-align: center;
			border: 1px solid #fff;
			&:hover {
				color: #1972D6;
			}
			&.active {
				color: #1972D6;
				background-color: #f9f9f9;
				border-color: #ccc;
			}
		}
	}
	.transfer {
		.z-radio {
			margin-right: 40px;
		}		
	}
}