.edit {
	.edit-group {
		margin-bottom: 15px;
		.edit-title {
			width: 15%;
			text-align: right;
			display: inline-block;
			vertical-align: top;
		}
		.edit-content {
			padding-left: 20px;
			width: 75%;
			display: inline-block;
		}
		&.property, &.service {
			label.z-checkbox {
				width: 145px;
				margin-bottom: 10px;
			}
		}
		&.fee {
			table {
				margin-bottom: -10px;
				tr>td{
					padding-bottom: 10px;
				}
			}
		}
		.businessHours {
			.title span{
				cursor: pointer;
				&:hover, &.active{
					color: #1972D6;
				}
			}
			.content {
				padding: 10px;
				margin-top: 3px;
				width: 540px;
				border-radius: 2px;
				border: 1px solid #efefef;
				label {
					margin-right: 20px;
				}
			}
		}
	}
	.picInfo {
		margin-top: 20px;
		span {
			display: inline-block;
			color: #333;
			font-weight: bold;
			cursor: pointer;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 0 10px;
			height: 30px;
			border-radius: 2px;
			line-height: 30px;
			text-align: center;
			border: 1px solid #fff;
			&:hover {
				color: #1972D6;
			}
			&.active {
				color: #1972D6;
				background-color: #f9f9f9;
				border-color: #ccc;
			}
		}
	}
	.transfer {
		.z-radio {
			margin-right: 40px;
		}		
	}
}
.modal-group {
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
	.edit-title {
		width: 140px;
		text-align: right;
		display: inline-block;
		line-height: 30px;
		vertical-align: top;
	}
	.edit-content {
		padding-left: 20px;
		display: inline-block;
	}
}

.fixBar {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 12px;
	text-align: center;
	li{
		width: 50px;
		height: 50px;
		background-color: #1972D6;
		margin-bottom: 3px;
		border-radius: 2px;
		cursor: pointer;
		color: #fff;
		line-height: 50px;
		&.iconfont {
			font-size: 24px;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}

.fixBox {
	position: fixed;
	z-index: 100;
	right: 20px;
	top: 25vh;
	width: 150px;
	background-color: #fff;
	border: 1px solid #d2d2d2;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	opacity: 1;
	transition: opacity .3s;
	.fixTitle {
		padding: 10px 15px;
		background-color: #e8e8e8;
		border-bottom: 1px solid #eee;
		div {
			height: 22px;
			line-height: 22px;
		}
		.closeFix {
			float: right;
			font-size: 28px;
			font-family: 'Arial';
			cursor: pointer;
			&:hover {
				color: #666;
			}
		}
	}
	.fixContent {
		max-height: 40vh;
		overflow: auto;
		padding: 13px;
		ul {
			li {
				line-height: 26px;
				margin-left: 20px;
				list-style-type: disc;
				cursor: pointer;
				&:hover, &.active {
					color: #1972d6;
				}
				&.level1 {
					font-weight: bold;
				}
				&.level2 {
					list-style-type: none;
				}
			}
		}
	}
	&.hidden {
		opacity: 0;
	}
}