<div id="changePwd">
  <h1 class="z-title-lg">
    完成发布</h1>
  <div class="z-bg-white text-center">
    <div class="step">
      <div class="step1 active">1</div>
      <div class="step-line"></div>
      <div class="step2 active">2</div>
      <div class="step-line"></div>
      <div class="step2 active">3</div>
    </div>

    <p>完成发布</p>
    <p>该信息已发布在 <a routerLink="/shop/list">店铺大厅</a></p>
    <div class="mb100">
      <button class="z-btn-blue-lg mr15" routerLink="/shop/detail/{{id}}">查看信息</button>
      <button class="z-btn-blue-lg mr15">管理信息</button>
      <button class="z-btn-blue-lg" routerLink="/shop/category">再发一条</button>
    </div>

  </div>
</div>
