<div id="changePwd">
  <h1 class="z-title-lg">消息公告</h1>
  <div class="z-bg-white">
    <ul class="nav nav-pills" id="newsTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true">系统消息</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="notice-tab" data-toggle="tab" href="#notice" role="tab" aria-controls="notice" aria-selected="false">系统公告</a>
      </li>
    </ul>
    <div class="tab-content" id="newsTabContent">
      <div class="tab-pane fade show active" id="news" role="tabpanel" aria-labelledby="news-tab">
        <p>共 4 封 <span class="red">3</span> 封未读</p>
        <table>
          <thead>
          <tr>
            <td>发件人</td>
            <td>消息内容</td>
            <td>时间</td>
          </tr>
          </thead>
        </table>
      </div>
      <div class="tab-pane fade" id="notice" role="tabpanel" aria-labelledby="notice-tab">
        <table>
          <thead>
          <tr>
            <td>标题</td>
            <td>时间</td>
            <td>操作</td>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

