<nav class="z-title-lg">
  用户管理
</nav>
<section class="z-bg-white clearfix">
  <header>
     <h1 class="z-title-md-style">
       筛选查询
     </h1>
  </header>
  <ul class="clearfix">
    <li class="col-lg-3 col-md-4 f-l">
      <label for="mobile">手机号码：</label>
      <input class="z-input" [(ngModel)]="mobile" id="mobile">
    </li>
    <li class="col-lg-3 col-md-4 f-l">
      <label for="username">用户姓名：</label>
      <input class="z-input" [(ngModel)]="name" id="username">
    </li>
    <li class="col-lg-3 col-md-4 f-l">
      <label>状态：</label>
      <app-select [list]="statusList" [(selectedCode)]="status"></app-select>
    </li>
    <li class="col-lg-3 col-md-4 f-l">
      <label>工作城市：</label>
      <app-select [list]="cityList" [(selectedCode)]="city"></app-select>
    </li>
    <li class="col-lg-12 col-md-8 f-l">
      <label>关联标签：</label>
      <app-set-related-tags [(tagList)]="tagList" [(tags)]="tags"></app-set-related-tags>
    </li>
  </ul>
  <div class="f-r">
    <a class="mr8" (click)="clearSearch()">清空搜索条件</a>
    <button class="z-btn-blue-lg" (click)="submit()">搜索</button>
  </div>
</section>

<section class="z-bg-white clearfix">
  <header class="clearfix mb10">
    <h1 class="z-title-md-style dib">信息列表</h1>
    <button class="z-btn-blue-lg f-r" routerLink="/admin/adduser">新增</button>
  </header>
  <table class="z-table-sm">
    <thead>
    <tr>
      <th width="5%">
        <input type="checkbox">
      </th>
      <th width="5%">序号</th>
      <th width="15%">用户姓名/手机号码</th>
      <th width="10%">工作城市</th>
      <th width="10%">用户角色</th>
      <th width="15%">加入团队</th>
      <th width="10%">状态</th>
      <th width="10%">注册时间</th>
      <th width="20%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>1</td>
      <td>王小明<br>(13688881234)</td>
      <td>深圳</td>
      <td>-</td>
      <td>深圳业务一组</td>
      <td>正常</td>
      <td>2018-04-23 15:00:01</td>
      <td class="handle">
        <p class="pb3">
          <button class="z-btn-blue-sm mr5" (click)="openModal(edit)">编辑</button>
          <button class="z-btn-grey-sm mr5" (click)="openModal(template)">禁用账号</button>
          <button class="z-btn-red-sm mr5" (click)="openModal(template)">删除</button>
        </p>
        <p class="pb3">
          <button class="z-btn-blue-sm mr5">设置角色</button>
          <button class="z-btn-blue-sm mr5">单独赋权</button>
          <button class="z-btn-blue-sm mr5">分配团队</button>
        </p>
        <p class="pb3">
          <button class="z-btn-blue-sm" (click)="openModal(asignArea)">分配服务区域</button>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination [boundaryLinks]="true" [totalItems]="totalItems" class="pagination-sm" (setPage)="setPage()" (pageChange)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</section>

<ng-template #edit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">编辑用户信息</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul style="width: 80%;margin: 0 auto;">
      <li>
        <label for="name">用户姓名：</label>
        <input class="z-input" type="text" id="name">
      </li>
      <li>
        <label for="cellphone">手机号码：</label>
        <input class="z-input" type="text" id="cellphone">
      </li>
      <li>
        <label for="mail">邮箱地址：</label>
        <label for="mail">邮箱地址：</label>
        <input class="z-input" type="text" id="mail">
      </li>
      <li>
        <label>工作城市：{{city}}</label>{{city}}
        <app-select [list]="cityList" [(selectedCode)]="city"></app-select>
      </li>
      <li>
        <label>关联标签：</label>
        <app-set-related-tags [(tagList)]="editTagList" [(tags)]="editTags"></app-set-related-tags>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <div class="f-r">
      <button type="button" class="z-btn-grey-lg mr7">取消</button>
      <button type="button" class="z-btn-blue-lg">确定</button>
    </div>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">禁用账号</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      确认将 用户：张三（13688881234）账号禁用吗？
    </div>
    <div>
      禁用账号将不可登录
    </div>
  </div>
  <div class="modal-footer">
    <div class="f-r">
      <button type="button" class="z-btn-grey-lg mr7">取消</button>
      <button type="button" class="z-btn-blue-lg">确定</button>
    </div>
  </div>
</ng-template>

<ng-template #asignTeam>
  <div class="modal-header">
    <h4 class="modal-title pull-left">分配团队</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      基本信息：张三   13956981234  深圳
    </div>
    <div>
      <h4>已加入团队</h4>
      <ul>
        <li>深圳飞虎队</li>
        <li>深圳飞虎队</li>
      </ul>
    </div>
    <div>
      <h4>分配团队</h4>
      <input type="text" placeholder="请输入要加入的团队名称">
      <ul>
        <li>深圳天鹰队</li>
        <li>深圳天鹰队</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <div class="f-r">
      <button type="button" class="z-btn-grey-lg mr7">取消</button>
      <button type="button" class="z-btn-blue-lg">确定</button>
    </div>
  </div>
</ng-template>

<ng-template #asignArea>
  <div class="modal-header">
    <h4 class="modal-title pull-left">分配服务区域</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-4">
      <h4>已选服务区域（最多选10个）</h4>
      <ul>
        <li>
          深圳
        </li>
        <li>
          惠州
        </li>
      </ul>
    </div>
    <div class="col-8">
      <h4>选择服务区域（可选国家、省、市任何一级）</h4>
    </div>
  </div>
  <div class="modal-footer">
    <div class="f-r">
      <button type="button" class="z-btn-grey-lg mr7">取消</button>
      <button type="button" class="z-btn-blue-lg">确定</button>
    </div>
  </div>
</ng-template>
