<div id="changePwd">
  <h1 class="z-title-lg">密码修改</h1>
  <div class="z-bg-white">
    <h2 class="z-title-md-style mb50">密码修改</h2>
    <div class="wrap">
      <ul>
        <li>
          <label for="oldPwd">旧密码：</label>
          <input type="password" id="oldPwd" class="z-input">
        </li>
        <li>
          <label for="newPwd">新密码：</label>
          <input type="password" id="newPwd" class="z-input">
        </li>
        <li>
          <label for="againPwd">确认密码：</label>
          <input type="password" id="againPwd" class="z-input">
        </li>
      </ul>
      <div class="text-center mt60 mb100">
        <button class="z-btn-blue-lg text-center">提交</button>
      </div>
    </div>
  </div>
</div>
