<nav class="z-title-lg">
  区域管理
</nav>

<div class="dis-manage">
  <ul class="clearfix disblock-title">
    <li class="title-li f-l" *ngFor="let item of districtTitle">
      {{item}}
    </li>
  </ul>
  <ul class="clearfix disblock-body">
    <li class="f-l disblock-li">
      <ul>
        <li class="disItem-li" *ngFor="let provice of provinces" (click)="getCity(provice,1,provinces)"
            [ngClass]="{'click':provice.clicked}">
          {{provice.name}}
        </li>
      </ul>
    </li>
    <li class="f-l disblock-li">
      <ul>
        <li class="disItem-li" *ngFor="let city of cityList" (click)="getCity(city,2,cityList)"
            [ngClass]="{'click':city.clicked}">
          {{city.name}}
        </li>
      </ul>
    </li>
    <li class="f-l disblock-li">
      <ul>
        <li class="disItem-li" *ngFor="let districtItem of districts" (click)="getCity(districtItem,3,districts)"
            [ngClass]="{'click':districtItem.clicked}">
          {{districtItem.name}}
        </li>
      </ul>
    </li>
    <li class="f-l disblock-li">
      <ul>
        <li class="disItem-li" *ngFor="let town of towns">
          {{town.name}}
        </li>
      </ul>
    </li>
  </ul>
</div>

