.toolbar{
	position: fixed;
	z-index: 1002;
	height: 64px;
	width: 100vw;
	background-color: #1972d6;
	box-sizing: border-box;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3)
}
.logo{
	cursor: pointer;
	display: inline-block;
	margin-top: 16px;
	margin-left: 40px;
}