.sidebar{
	float: left;
	width: 200px;
	height: calc(100vh - 64px);
	background-color: #ddd;
	display: inline-block;
}
li{
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	padding-left: 25px;
	&:hover{
		background-color: #aaa;
	}
	.active{
		color: #1976d2;
	}
}