<div id="changePwd">
  <h1 class="z-title-lg">设置信息分类</h1>
  <div class="z-bg-white text-center">
    <div class="step">
      <div class="step1 active">1</div>
      <div class="step-line"></div>
      <div class="step2">2</div>
      <div class="step-line"></div>
      <div class="step2">3</div>
    </div>

    <p class="mt50 mb30 f16">您当前选择的信息类别是：<span class="blue">{{choosed}}</span></p>

    <dl>
      <dt>选择信息分类</dt>
      <dd [ngClass]="{'cate-active':choosed=='店铺'}" (click)="choose('店铺')">店铺</dd>
      <dd [ngClass]="{'cate-active':choosed=='业主'}" (click)="choose('业主')">业主</dd>
    </dl>

    <button class="z-btn-red-lg mt40 mb100" routerLink="/shop/post">下一步填写信息</button>
  </div>
</div>
