<div class="userIndex">
	<h1 class="z-title-lg">系统首页</h1>
	<div class="part1 clearfix">
		<div class="greet">
			<h2 class="z-title-md-style">欢迎使用铺铺旺大数据系统</h2>
			<div class="person clearfix">
				<img src="{{personUrl || './assets/imgs/person-default.png'}}">
				<div class="name">
					<p *ngIf="login" class="f18 bold">{{userDetail?.name}}</p>
					<p *ngIf="login && (teams && teams.length)" class="color-999">你已加入{{teams.length}}个团队</p>
					<p *ngIf="login && (teams && !teams.length)" class="color-999">您未加入任何团队，请联系团队负责人添加</p>
				</div>
			</div>
			<p *ngIf="!login" class="loginInfo"><a class="link" routerLink="/login">请登录</a></p>
			<div class="team">
				<div class="teamList">
					<ul class="clearfix" *ngIf="login" [style.margin-left.px]="leftMargin">
						<li *ngFor="let item of teams">
							<p class="f16 bold">
								{{item.name}}<br>
								<span class="f14 color-666" *ngIf="item.type == 1">（自营）</span>
								<span class="f14 color-666" *ngIf="item.type == 2">（加盟）</span>
							</p>
							<span class="z-group-red" *ngIf="item.tags">{{item.tags && item.tags[0].name}}</span>
						</li>
					</ul>
				</div>
				<div class="moveLeft" *ngIf="teams?.length > 3" (click)="teamMove('right')">
					<i class="iconfont icon-arrow-right1"></i>
				</div>
				<div class="moveRight" *ngIf="teams?.length > 3" (click)="teamMove('left')">
					<i class="iconfont icon-arrow-left1"></i>
				</div>
			</div>
		</div>
		<div class="info">
			<h2 class="z-title-md-style">
				消息提醒
				<span *ngIf="login && unReadNum>0" class="red">（未读信息{{unReadNum}}）</span>
				<a *ngIf="!login" class="link" routerLink="/login">（请先登录）</a>
			</h2>
			<div *ngIf="login" style="overflow-y: auto;">
				<p *ngFor="let item of noticeList">
					<span class="z-square-red mr5" *ngIf="item.read==0">new</span>
					<span class="bold">
		            【<i *ngIf="item.type === 0">站内信</i><i *ngIf="item.type === 1">公告</i>】
		          	</span>
		          	<a routerLink="/user/newsDetail/{{item.id}}">{{item.subject}}</a>
				</p>
			</div>
		</div>
	</div>
	<div class="part2">
		<h2 class="z-title-md-style">操作快捷入口</h2>
		<ul class="clearfix">
			<li>
				<div routerLink="/user/shopService" routerLinkActive="active">
					<span></span>
					<p>店铺信息</p>
				</div>
			</li>
			<li *ngIf="login">
				<div>
					<span class="icon-5"></span>
					<p>经营者信息</p>
				</div>
			</li>
			<li *ngIf="login">
				<div>
					<span class="icon-4"></span>
					<p>从业者信息</p>
				</div>
			</li>
			<li *ngIf="login && permission['10000101']">
				<div routerLink="/user/releaseStore">
					<span class="icon-2"></span>
					<p>发布信息</p>
				</div>
			</li>
			<li *ngIf="login">
				<div>
					<span class="icon-3"></span>
					<p>我的发布</p>
				</div>
			</li>
		</ul>
	</div>
	<!-- <div class="part3">
		<h2 class="z-title-md-style">信息总收录<span class="color-666">（深圳）</span></h2>
		<ul class="data clearfix">
			<li>
				<span>1200</span>
				<p>全部数据</p>
				<i></i>
			</li>
			<li>
				<span>800</span>
				<p>店铺</p>
				<i></i>
			</li>
			<li>
				<span>400</span>
				<p>小区</p>
				<i></i>
			</li>
		</ul>
		<ul class="list clearfix">
			<li>
				<div>
					<span>6</span>
					<p>今日新增</p>
					<i></i>
				</div>
			</li>
			<li>
				<div>
					<span>3</span>
					<p>今日修改</p>
					<i class="icon-2"></i>
				</div>
			</li>
			<li>
				<div>
					<span>50</span>
					<p>近7天新增</p>
					<i></i>
				</div>
			</li>
			<li>
				<div>
					<span>20</span>
					<p>近7天修改</p>
					<i class="icon-2"></i>
				</div>
			</li>
			<li>
				<div>
					<span>145</span>
					<p>近1月新增</p>
					<i></i>
				</div>
			</li>
			<li>
				<div>
					<span>196</span>
					<p>近1月修改</p>
					<i class="icon-2"></i>
				</div>
			</li>
		</ul>
	</div> -->
</div>
