.notice-content{
  &:hover{
    color: #1972D6;
    text-decoration: underline;
  }
}

.news-detail{
  width: 50%;
  margin: 0 auto;
  padding-top: 60px;
  dt {
    background: #f1f1f1;
  }
  dt,dd {
    line-height: 30px;
    margin-bottom: 30px;
    label {
      width: 15%;
      text-align: right;
      margin-right: 15px;
    }
  }
}
