<div id="dataSet">
  <h1 class="z-title-lg">更换号码</h1>
  <div class="z-bg-white">
    <h2 class="z-title-md-style">更换手机号码</h2>
    <div class="text-center mt50">
      <div class="step">
        <div class="step1 active">1</div>
        <div class="step-line"></div>
        <div class="step2">2</div>
      </div>
      <ul>
        <li>
          <input id="phone" class="z-input" #phone>
        </li>
        <li class="clearfix">
          <input id="code" class="z-input code" placeholder="请输入验证码" #code>
          <button class="z-btn-blue-lg code-btn">获取验证码</button>
        </li>
      </ul>
      <div class="text-center">
        <button class="z-btn-blue-lg text-center lose-btn" (click)="loseBind(phone, code)">解绑</button>
      </div>
    </div>
    </div>

</div>
