.wrap {
  width: 70%;
  margin: 0 auto;
  label {
    width: 39%;
    text-align: right;
    margin-right: 20px;
  }
  ul {
    li {
      margin-bottom: 13px;
      .z-input {
        width: 25%;
      }
    }
  }
}
