<nav class="z-title-lg">
  创建团队
</nav>
<section class="z-bg-white clearfix">
  <header class="clearfix">
    <h1 class="z-title-md-style dib">创建团队</h1>
    <button class="z-btn-blue-lg f-r" (click)="back()">返回</button>
  </header>
  <ul>
    <li>
      <label for="teamname">团队名称：</label>
      <input class="z-input" id="teamname">
    </li>
    <li>
      <label for="teamtype">团队类型：</label>
      <input class="z-input" id="teamtype">
    </li>
    <li>
      <label for="area">所在区域：</label>
      <app-select></app-select>
    </li>
    <li>
      <label for="position">中心点位置：</label>
    </li>
    <li>
      <label for="introduce">团队说明：</label>
      <textarea id="introduce">多区域</textarea>
    </li>
    <li>
      <label for="tag">关联tag：</label>
      <span id="tag">多区域</span>
    </li>
    <li>
      <label for="area">可服务区域：</label>
      <span id="area">深圳</span>
    </li>
    <li>
      <label for="user">用户角色：</label>
      <span id="user">自营服务</span>
      <a>设置</a>
    </li>
  </ul>
  <div class="text-center mt10">
    <button type="button" class="z-btn-blue-lg">确定</button>
  </div>
</section>
