.nav{
	height: 64px;
	background-color: #1976d2;
	padding: 8px 30px;
	box-sizing: border-box;
}
.logo{
	cursor: pointer;
	display: block;
	width: 180px;
	height: 48px;
	background: url('../../../assets/imgs/logo-nav.png');
	background-size: cover;
}