<div class="box">
<div class="userForget">
  <div class="userHeader">
    <img src="../../../assets/imgs/logo_user.png"/>
    <p>铺铺旺大数据系统</p>
  </div>
  <form class="user userForm" #userForget="ngForm" name="userForget">
    <input type="text" name="account" [(ngModel)]="account" #userMobile="ngModel" pattern="^1[3456789]\d{9}" placeholder="请输入手机号码" required>
    <div class="user-error" *ngIf="clicked">
      <span *ngIf="userMobile.errors?.pattern">手机号码格式不正确</span>
      <span *ngIf="userMobile.errors?.required">请输入手机号码</span>
      <span *ngIf="userMobile.errors" class="error-icon">!</span>
    </div>

    <input type="text" name="code" [(ngModel)]="code" placeholder="请输入验证码" required>
    <span class="getCode" [ngClass]="{'lightgrey':userMobile.errors}" (click)="getVC(userMobile.errors)">{{time}}</span>

    <input type="password" name="password1" [(ngModel)]="password1" #password11="ngModel"
           pattern="^[0-9A-Za-z]{6,12}$" placeholder="请输入新的登录密码" required>
    <div class="user-error" *ngIf="clicked">
      <span *ngIf="password11.errors?.pattern">请输入6-12位数字和字符</span>
      <span *ngIf="password11.errors?.required">请输入密码</span>
      <span *ngIf="password11.errors" class="error-icon">!</span>
    </div>

    <input type="password" name="password2" [(ngModel)]="password2" #password22="ngModel" placeholder="请再输入新的登录密码" required>
    <div class="user-error" *ngIf="clicked">
      <span *ngIf="password22.errors?.required">请再次输入密码</span>
      <span *ngIf="password1!=password2">两次密码输入不一致</span>
      <span *ngIf="password1!=password2 || password22.errors" class="error-icon">!</span>
    </div>

    <button [ngClass]="{'buttonBgDis':userForget.invalid,'buttonBgOk':userForget.valid}"
            [disabled]="userForget.invalid"
            (click)="ForgetSubmit(userForget.valid)">确定</button>
  </form>

  <div class="user userFooter">
    <a class="userToRes" routerLink="/login">已有账号，马上登录</a>
    <a class="userToPass" routerLink="/register">立即注册</a>
  </div>
</div>
</div>
