<section class="dib">
  <div class="z-tag-del mr5" *ngFor="let item of tagList; let i=index;">
    {{item.name}}<span class="del" (click)="delTag(i)"></span>
  </div>
  <div class="z-add vab" (click)="showModal()"></div>
  <div class="lab-modal" *ngIf="isModalShown">
    <div class="modal-header">
      <h4 class="modal-title pull-left">关联标签</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" (click)="hideModal()">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" role="tablist">
            <a class="nav-link active" data-toggle="pill" href="#s0" (click)="getTagChild(1)">用户</a>
            <a class="nav-link" data-toggle="pill" href="#s1" (click)="getTagChild(2)">团队</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="s0">
              <div class="z-tag tag mr5" [ngClass]="{'active':c.active}" *ngFor="let c of childList"
                   (click)="tagChoosed(c)">{{c.name}}
              </div>
            </div>
            <div class="tab-pane fade" id="s1">
              <div class="z-tag tag mr5" [ngClass]="{'active':c.active}" *ngFor="let c of childList"
                   (click)="tagChoosed(c)">{{c.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

