<h1 class="z-title-lg">店铺大厅</h1>
<div class="part1 p20">
	<h2 class="z-title-md-style">
		筛选条件
		<button type="submit" class="z-btn-blue-lg f-r" (click)="getList(searchForm.invalid)" [disabled]="isQuery">查询</button>
	</h2>
	<form class="clearfix">
		<form class="clearfix" #searchForm="ngForm">
			<div class="left">
				<div class="group" [style.margin-bottom.px]=10>
					<span class="tag">行业</span>
					<div class="content">
						<app-choose-industry [(selectedList)]="industryIds"></app-choose-industry>
					</div>				
				</div>
				<div class="group">
					<span class="tag"></span>
					<div class="content">
						<label class="z-checkbox">
							<input [(ngModel)]="currentI" type="checkbox" name="currentI"><i></i>当前经营
						</label>
						<label class="z-checkbox ml20">
							<input [(ngModel)]="suitI" type="checkbox" name="suitI"><i></i>适合经营
						</label>
						<label class="z-checkbox ml20">
							<input [(ngModel)]="recommendI" type="checkbox" name="recommendI"><i></i>推荐经营
						</label>
						<div class="error">
							<p class="red" *ngIf="industryIds && industryIds.length && !currentI && !suitI && !recommendI">请选择经营类型</p>							
							<p class="red" *ngIf="(!industryIds || !industryIds.length) && (currentI || suitI || recommendI)">请选择行业</p>							
						</div>
					</div>				
				</div>
				
				<div class="group">
					<span class="tag">区域</span>
					<div class="content">
						<app-choose-district [(selectedCode)]="districtId"></app-choose-district>
					</div>				
				</div>
				
				<div class="group">
					<span class="tag">位置描述</span>
					<div class="content">
						<select [(ngModel)]="positionDesc" name="positionDesc">
							<option [value]="item.code" *ngFor="let item of descriptions">{{item.name}}</option>
						</select>
						<label class="z-checkbox ml20">
							<input name="nearStreet" type="checkbox" value=1 [(ngModel)]="nearStreet"><i></i>临街
						</label>
						<label class="z-checkbox ml20">
							<input name="notNearStreet" type="checkbox" value=2 [(ngModel)]="notNearStreet"><i></i>不临街
						</label>
					</div>				
				</div>
			</div>
			<div class="right">
				<div class="group">
					<span class="tag">面积</span>
					<div class="content">
						<input name="minArea" #_minArea="ngModel" [(ngModel)]="minArea" pattern="^[1-9][0-9]*$" [style.width.px]=160 type="number" class="z-input" placeholder="最小"> -
						<input name="maxArea" #_maxArea="ngModel" [(ngModel)]="maxArea" pattern="^[1-9][0-9]*$" [style.width.px]=160 type="number" class="z-input" placeholder="最大"> <span class="color-999"> 平米</span>
						<div class="error">
							<p class="red" *ngIf="_minArea.errors?.pattern || _maxArea.errors?.pattern">请输入大于零的整数</p>
							<p class="red" *ngIf="minArea > maxArea">最小面积不能大于最大面积</p>							
						</div>
					</div>				
				</div>

				<div class="group">
					<span class="tag">门宽</span>
					<div class="content">
						<input name="minDoorWide" #_minDoorWide="ngModel" [(ngModel)]="minDoorWide"  pattern="^[1-9][0-9]*(\.[0-9]{0,2})?$" [style.width.px]=160 type="number" class="z-input" placeholder="最短"> -
						<input name="maxDoorWide" #_maxDoorWide="ngModel" [(ngModel)]="maxDoorWide"  pattern="^[1-9][0-9]*(\.[0-9]{0,2})?$" [style.width.px]=160 type="number" class="z-input" placeholder="最长"> <span class="color-999"> 米</span>
						<div class="error">
							<p class="red" *ngIf="_minDoorWide.errors?.pattern || _maxDoorWide.errors?.pattern">请输入大于零的整数, 允许两位小数</p>
							<p class="red" *ngIf="minDoorWide > maxDoorWide">最小面积不能大于最大面积</p>							
						</div>
					</div>				
				</div>

				<div class="group">
					<span class="tag">关键词</span>
					<div class="content">
						<input [style.width.px]=334 type="text" name="keyword" class="z-input" [(ngModel)]="keyword" maxlength=50 placeholder="店铺名称/地址">
					</div>				
				</div>

				<div class="group">
					<span class="tag"></span>
					<div class="content">
						<input name="mobile" [style.width.px]=334 [(ngModel)]="mobile" #_mobile="ngModel" pattern="^1[3456789]\d{9}$" type="text" class="z-input" placeholder="手机号码">
						<div class="error">
							<p class="red" *ngIf="_mobile.errors?.pattern">请输入正确的手机号码</p>							
						</div>
					</div>				
				</div>
			</div>			
		</form>
	</form>
</div>
<div class="part2 p20 mt20">
	<h1 class="z-title-md-style">
		信息列表
		<a class="f-r z-btn-red-lg" *ngIf="login && permission['10000101']" routerLink="/user/releaseStore" target="_blank">我要发布</a>
	</h1>
	<div class="z-empty mt20"*ngIf="!shopList.length">未查询到相关信息</div>
	<table class="z-table mt20" *ngIf="shopList.length">
		<tr>
			<th width="18%">物业建筑</th>
			<th width="20%">面积</th>
			<th width="20%">当前店铺</th>
			<th width="18%">租金</th>
			<th width="16%">转让情况</th>
			<th width="8%">操作</th>			
		</tr>
		<tr *ngFor="let item of shopList">
			<td>
				<div>
					<span class="z-title-md">
						{{item.district?.toString().slice(0, 4) | cityName}}<span *ngIf="item.district?.toString().length >=6">{{item.district?.toString().slice(0, 6) | cityName}}</span>
					</span>
					<span class="z-square-red ml5" *ngIf="item.parentProperty">{{item.parentProperty | parentProperty}}</span>
				</div>
				<p class="color-888">{{item.address}}</p>
				<p class="lightgrey f12">
					<span *ngIf="item.nearStreet">临街</span>
					<span *ngIf="!item.nearStreet">不临街</span>
					<span class="ml6">{{item.positionDesc | positionDesc}}</span>
				</p>
			</td>
			<td>
				<p class="z-title-md">{{item.area}}㎡</p>
				<p>
					<span class="color-888">
						门宽：
						<span *ngIf="item.doorWidth">{{item.doorWidth}}m</span>
						<span *ngIf="!item.doorWidth">-</span>
					</span>
					<span class="ml10 color-888">
						层高：
						<span *ngIf="item.height">{{item.height}}m</span>
						<span *ngIf="!item.height">-</span>
					</span>
				</p>
				<p>
					<span class="color-888">
						开间：
						<span *ngIf="item.width">{{item.width}}m</span>
						<span *ngIf="!item.width">-</span>
					</span>
					<span class="ml10 color-888">
						进深：
						<span *ngIf="item.deep">{{item.deep}}m</span>
						<span *ngIf="!item.deep">-</span>
					</span>
				</p>
			</td>
			<td>
				<span class="z-title-md">
					<span *ngIf="item.name">{{item.name}}</span>
					<span *ngIf="item.branchName">（{{item.branchName}}）</span>
				</span>
				<span class="z-square-red" *ngIf="item.checkBrand">品牌</span>
				<p class="color-888" *ngIf="item.industryId">{{item.industryId.toString().slice(0, 2) | industryName}}</p>
				<p class="color-888">
					老板：
					<span *ngIf="item.name">{{item.name}}</span>
					<span *ngIf="!item.name">-</span>
				</p>
				<!-- <p class="lightgrey f12">&lt;100m</p> -->
			</td>
			<td>
				<p class="z-title-md">
					<span *ngIf="item.rent">{{item.rent/100 | decimal}}{{item.rentUnit | rentUnit}}</span>
				</p>
				<p class="color-888">
					支付：
					<span *ngIf="item.rentDepositMode">押{{item.rentDepositMode}}</span>
					<span *ngIf="item.rentPayMode">付{{item.rentPayMode}}</span>
					<span *ngIf="!item.rentPayMode && !item.rentDepositMod">-</span>
				</p>
				<p class="color-888">
					租约：
					<span *ngIf="item.rentContractMonths">
						{{item.rentContractMonths}}个月
						<span>（剩{{getRemainMonth(item.rentContractMonths, item.rentContractBeginDate) | decimal:0}}个月）</span>
					</span>
					<span *ngIf="!item.rentContractMonths">-</span>
				</p>
			</td>
			<td>
				<p class="z-title-md" *ngIf="item.transferFee">{{item.transferFee/1000000 | decimal}}万</p>
				<p class="color-888">{{item.transferContent}}</p>
				<p class="color-888" *ngIf="item.transferCanEmpty">可以空转</p>
				<p *ngIf="!item.transferFee && !item.transferContent && !item.transferCanEmpty" class="color-888">不转让</p>
			</td>
			<td>
				<div>
					<a class="z-btn-green-sm" target="_blank" routerLink="/user/shopDetail/{{item.id}}">详情</a>
				</div>
				<div>
					<a class="z-btn-blue-sm" target="_blank" routerLink="/user/shopEdit/{{item.id}}" *ngIf="login && permission['10000102']">编辑</a>
				</div>
			</td>
		</tr>
	</table>
	<app-pagination *ngIf="shopList.length" (pageChanged)="getList()" [(pageConf)]="pageConf"></app-pagination>
</div>