.part1 {
	background-color: #fff;
	h2 {
		height: 50px;
		border-bottom: 1px solid #efefef;
	}
	form {
		margin-top: 20px;
		.left {
			width: 570px;
			display: inline-block;
			float: left;
		}
		.right {
			width: 590px;
			float: left;
		}
		.left, .right  {
			.group:last-child {
				margin-bottom: 5px;
			}
		}
		.tag {
			width: 70px;
			display: inline-block;
			text-align: right;
			vertical-align: top;
			margin-top: 7px;
		}
		.content {
			display: inline-block;
			margin-left: 20px;
			.error{
				position: relative;
				p{
					font-size: 12px;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
		.group {
			margin-bottom: 20px;
		}	
	}
}
.part2 {
	background-color: #fff;
	h1 {
		height: 38px;
	}
}