/* You can add global styles to this file, and also import other style files */
/* 初始化start */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
	margin:0;
	padding:0;
} 
body{
	font:12px "宋体" "Arial Narrow" HELVETICA;
	background:#fff;
	-webkit-text-size-adjust:100%;
} 
em{
	font-style:normal
} 
li{
	list-style:none
} 
img{
	border:0;
	vertical-align:middle;
} 
table{
	border-collapse:collapse;
	border-spacing:0;
} 
p{
	word-wrap:break-word;
}
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix:after{
	clear:both;
} 
.clearfix{ 
    *zoom:1;
}
/* 初始化end */

/* 快捷样式start */
.tac{
	text-align: center;
}
.tar{
	text-align: right;
}
.pointer{

}
/* 快捷样式end */

/* 项目风格样式start */
a{
	color: #1976d2;
	text-decoration:none;
} 
a:hover{
	color:gray;
} 
.active{
	color: #1976d2;
}
/* 项目风格样式end */
