@import "assets/styles/reset-bootstrap";     //重置boostraps样式
@import "assets/styles/reset";    //重置样式
@import "assets/styles/var";      //定义通用样式类
@import "assets/styles/common";    //定义公共组件样式
body{
	font-size: 14px;
	color: #333;
	font-family: "Microsoft Yahei";
	background-color: #f5f5f5;
	-webkit-text-size-adjust:100%;
}

//管理系统侧边栏高亮
.active{
	color: $color;
}
//用户系统中间宽度
.w{
	width: 1200px;
}

.bg {
  background:linear-gradient(to bottom right, rgba(30, 168, 247, 0.8), rgba(27, 74, 179, 0.8)),  url("assets/imgs/bg.png") no-repeat center 50% ;
  height: auto;
}

/* 项目风格样式end */
