//字体常用色
.color-333{
  color: #333;
}
.color-666{
  color: #666;
}
.color-888{
  color: #888;
}
.color-999{
  color: #666;
}
.lightgrey {
  color: #b3b3b3;
}
.red{
  color: #dd0031;
}
.blue{
  color: $color;
}
.f-l{
  float: left;
}
.f-r{
  float: right;
}
.tac{
  text-align: center;
}
.tar{
  text-align: right;
}
.vat{
  vertical-align: top;
}
.vam{
  vertical-align: middle;
}
.vab{
  vertical-align: bottom;
}
.pointer{
  cursor: pointer;
}
.bold{
  font-weight: bold;
}
.pointer{
  cursor: pointer;
}
.db{
  display: block;
}
.dn{
  display: none;
}
.dib{
  display: inline-block;
}
.relative{
  position: relative;
}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@for $i from 10 through 50 {
  .f#{$i} {
    font-size: $i*1px;
  }
}

@for $i from 1 through 10 {
  .w#{$i*10} {
    width: $i*10px;
  }
}

@for $i from 1 through 10 {
  .h#{$i*10} {
    height: $i*10px;
  }
}

@for $i from 1 through 100 {
  .lh#{$i*1} {
    line-height: $i*1px;
  }
}

@for $i from 0 through 100 {
  .mt#{$i} {
    margin-top: $i*1px;
  }
}

@for $i from 0 through 100 {
  .mr#{$i} {
    margin-right: $i*1px;
  }
}

@for $i from 0 through 100 {
  .mb#{$i} {
    margin-bottom: $i*1px;
  }
}

@for $i from 0 through 100 {
  .ml#{$i} {
    margin-left: $i*1px;
  }
}

@for $i from 0 through 100 {
  .m#{$i} {
    margin: $i*1px;
  }
}

@for $i from 0 through 60 {
  .pt#{$i*1} {
    padding-top: $i*1px;
  }
}

@for $i from 0 through 60 {
  .pr#{$i*1} {
    padding-right: $i*1px;
  }
}

@for $i from 0 through 60 {
  .pb#{$i*1} {
    padding-bottom: $i*1px;
  }
}

@for $i from 0 through 60 {
  .pl#{$i*1} {
    padding-left: $i*1px;
  }
}

@for $i from 0 through 60 {
  .p#{$i*1} {
    padding: $i*1px;
  }
}
