<nav class="z-title-lg">
  用户管理
</nav>
<section class="z-bg-white clearfix">
  <header>
    <h1 class="z-title-md-style">
      筛选查询
    </h1>
  </header>
  <form class="clearfix" #userListForm="ngForm" name="userList">
    <ul class="clearfix">
      <li class="col-lg-3 col-md-4 f-l">
        <label for="mobile">手机号码：</label>
        <input class="z-input" id="mobile" name="mobile"
               [(ngModel)]="mobile"
               #userMobile="ngModel"
               maxlength="11"
               placeholder="请输入手机号码">
        <div class="z-error" *ngIf="userMobile.invalid && (userMobile.dirty || userMobile.touched)">
          <!--<span *ngIf="userMobile.errors?.pattern">手机号码格式不正确</span>-->
        </div>
      </li>
      <li class="col-lg-3 col-md-4 f-l">
        <label for="username">用户姓名：</label>
        <input class="z-input" id="username" name="username"
               maxlength="20" [(ngModel)]="name" placeholder="请输入用户姓名">
      </li>
      <li class="col-lg-3 col-md-4 f-l">
        <label>状态：</label>
        <select name="status" [(ngModel)]="status">
          <option [value]="item.code" *ngFor="let item of statusList">{{item.name}}</option>
        </select>
      </li>
      <li class="col-lg-3 col-md-4 f-l">
        <label>工作城市：</label>
        <app-district [(checkedItem)]="cityItem" [(checkedCode)]="city"></app-district>
      </li>
      <li class="col-lg-12 col-md-8 f-l">
        <label>关联标签：</label>
        <app-set-related-tags [(tagList)]="tagList" [(tags)]="tags"></app-set-related-tags>
      </li>
    </ul>
    <div class="f-r">
      <a class="mr8" (click)="clearSearch()">清空搜索条件</a>
      <button class="z-btn-blue-lg" (click)="submit()">搜索</button>
    </div>
  </form>
</section>

<section class="z-bg-white clearfix">
  <header class="clearfix mb20">
    <h1 class="z-title-md-style dib">信息列表</h1>
    <button class="z-btn-blue-lg f-r" routerLink="/user/addUser" *ngIf="permission['00010101']">新增</button>
  </header>
  <table class="z-table-sm" *ngIf="userList && userList.length && !isQuery">
    <thead>
    <tr>
      <th width="5%">序号</th>
      <th width="15%">用户姓名/手机号码</th>
      <th width="10%">工作城市</th>
      <th width="10%">用户角色</th>
      <th width="10%">服务区域</th>
      <th width="16%">加入团队</th>
      <th width="5%">状态</th>
      <th width="9%">注册时间</th>
      <th width="20%">操作</th>
    </tr>
    </thead>
    <tbody *ngIf="pageConf.totalItems">
    <tr *ngFor="let item of userList; let i=index;">
      <td>{{i+1}}</td>
      <td>
        <span *ngIf="item.name">{{item.name}}<br>({{item.mobile}})</span>
        <span *ngIf="!item.name">-</span>
        </td>
      <td>
        <span *ngIf="item.workingCity&&item.workingCity.name">{{item.workingCity.name}}</span>
        <span *ngIf="!item.workingCity">-</span>
      </td>
      <td>
        <span *ngIf="item.roles?.length">
          <span *ngFor="let r of item.roles">{{r.name}}</span>
        </span>
        <span *ngIf="!item.roles?.length">-</span>
      </td>
      <td>
        <span *ngIf="item.districts?.length>0">
          <span *ngFor="let d of item.districts;let i=index" class="mr5">{{d?.name}}<i *ngIf="i != item.districts.length-1"> | </i></span>
        </span>
        <span *ngIf="!item.districts?.length">-</span>
      </td>
      <td>
        <span *ngIf="item.teams?.length">
          <span *ngFor="let v of item.teams;let i=index" class="mr5">{{v.name}}<i *ngIf="i != item.teams.length-1"> | </i></span>
        </span>
        <span *ngIf="!item.teams?.length">-</span>
      </td>
      <td>
        <span *ngIf="item.status===0">正常</span>
        <span *ngIf="item.status===1">停用</span>
      </td>
      <td>
        <span *ngIf="item.createTime">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        <span *ngIf="!item.createTime">-</span>
      </td>
      <td class="handle">
        <p class="pb3">
          <button class="z-btn-blue-sm mr5" *ngIf="permission['00010102']" (click)="openModal(edit, item)">编辑</button>
          <button class="z-btn-blue-sm mr5" *ngIf="item.status===0 && permission['00010103']" (click)="openModal(disable, item)">禁用账号</button>
          <button class="z-btn-grey-sm mr5" *ngIf="item.status===1 && permission['00010103']" (click)="openModal(active, item)">恢复账号</button>
        </p>
        <p class="pb3">
          <app-role-modal *ngIf="permission['00010104']" [userId]="item.userId" [(roles)]="item.roles" [ifResult]="false"></app-role-modal>
          <button *ngIf="permission['00010105']" class="z-btn-blue-sm mr5" (click)="openModal(asignTeam, item)">分配团队</button>
        </p>
        <p class="pb3">
          <app-district-mult [ifResult]="false" [(cityList)]="item.districts" *ngIf="permission['00010106']"
                             [(citys)]="cityChecked" (dealChecked)="asignDistrict(item.userId)"></app-district-mult>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
  <p class="z-empty" *ngIf="(!userList || !userList.length) && !isQuery">未查询到相关信息</p>
  <p class="z-empty" *ngIf="isQuery">正在查询，请稍后...</p>
  <app-pagination *ngIf="userList && userList.length && !isQuery" (pageChanged)="pageChanged()" [(pageConf)]="pageConf"></app-pagination>
</section>

<ng-template #edit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">编辑用户信息</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #editUserForm="ngForm" name="editUser">
    <div class="modal-body">
      <ul class="edit-modal" style="width: 80%;margin: 0 auto;">
        <li>
          <label class="z-required" for="name">用户姓名：</label>
          <input class="z-input" id="name" name="name"
                 [(ngModel)]="user.name"
                 #editName="ngModel" maxlength="20" required>
          <div class="z-error" *ngIf="editName.invalid && (editName.dirty || editName.touched)">
            <span *ngIf="editName.errors?.required">请输入用户姓名</span>
          </div>
        </li>
        <li>
          <label class="z-required" for="cellphone">手机号码：</label>
          <input class="z-input" id="cellphone" name="cellphone"
                 [(ngModel)]="user.mobile"
                 #eidtCellphone="ngModel" pattern="^1[3456789]\d{9}"
                 maxlength="11" required>
          <div *ngIf="eidtCellphone.invalid && (eidtCellphone.dirty || eidtCellphone.touched)">
            <span class="z-error f-r" *ngIf="eidtCellphone.errors.pattern">请输入正确的手机号码</span>
            <span class="z-error f-r" *ngIf="eidtCellphone.errors.required">请输入手机号码</span>
          </div>
        </li>
        <li>
          <label for="mail">邮箱地址：</label>
          <input class="z-input" id="mail" name="mail"
                 [(ngModel)]="user.email"
                 #editMail="ngModel" pattern="\w+@\w+\.[a-z]+(\.[a-z]+)?"
                 minlength="5" maxlength="30">
          <div class="z-error" *ngIf="editMail.invalid && (editMail.dirty || editMail.touched)">
            <span class="z-error f-r" *ngIf="editMail.errors.pattern
            || editMail.errors.minlength
            || editMail.errors.maxlength">请输入正确的邮箱</span>
          </div>
        </li>
        <li>
          <label class="z-required">工作城市：</label>
          <app-district [(checkedItem)]="user.workingCity" [(checkedCode)]="user.workingCity.code"></app-district>
          <div *ngIf="user.workingCity.code===-1">
            <span class="z-error f-r">请选择工作城市</span>
          </div>
        </li>
        <li class="mb20">
          <label>关联标签：</label>
          <app-set-related-tags [(tagList)]="user.tags" [(tags)]="editTags"></app-set-related-tags>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <div class="f-r">
        <button type="button" class="z-btn-grey-lg mr7" (click)="modalRef.hide()">取消</button>
        <button type="button" class="z-btn-blue-lg"
                [disabled]="editName.invalid || eidtCellphone.invalid || user.workingCity.code===-1 || editMail.invalid"
                (click)="editUser()">确定
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #disable>
  <div class="modal-header">
    <h4 class="modal-title pull-left">禁用账号</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div>
      确认将 用户：{{user.name}}（{{user.mobile}}）账号禁用吗？
    </div>
    <div>
      禁用账号将不可登录
    </div>
  </div>
  <div class="modal-footer">
    <div class="f-r">
      <button type="button" class="z-btn-grey-lg mr7" (click)="modalRef.hide()">取消</button>
      <button type="button" class="z-btn-blue-lg" (click)="disableUser();modalRef.hide()">确定</button>
    </div>
  </div>
</ng-template>

<ng-template #active>
  <div class="modal-header">
    <h4 class="modal-title pull-left">恢复账号</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div>
      确认将 用户：{{user.name}}（{{user.mobile}}）账号恢复吗？
    </div>
  </div>
  <div class="modal-footer">
    <div class="f-r">
      <button type="button" class="z-btn-grey-lg mr7" (click)="modalRef.hide()">取消</button>
      <button type="button" class="z-btn-blue-lg" (click)="activeUser();modalRef.hide()">确定</button>
    </div>
  </div>
</ng-template>

<ng-template #asignTeam>
  <div class="modal-header">
    <h4 class="modal-title pull-left">分配团队</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body asign-team">
    <div class="sec bottom-line">
      <h4>基本信息</h4>
      <p class="mb20">
        <span class="mr20">{{user.name}}</span>
        <span class="mr20">{{user.mobile}}</span>
        <span class="mr20">{{user.workingCity.name}}</span>
      </p>
    </div>
    <div class="sec bottom-line">
      <h4>已加入团队</h4>
      <ul class="mb20">
        <li class="z-tag z-tag-del mr5 mb5" *ngFor="let t of joinedTeam;let i=index;">{{t.name}}<span class="del" (click)="removeTeam(i)"></span></li>
      </ul>
    </div>
    <div class="sec">
      <h4>分配团队</h4>
      <div class="relative search mb20">
        <input class="z-input" type="text" name="teamName" placeholder="请输入要加入的团队名称" [(ngModel)]="searchTeamParam">
        <i class="iconfont icon-tubiao11 search-icon" (click)="searchTeam()"></i>
      </div>
      <ul class="mb20">
        <li class="z-tag z-tag-add mr5 mb5" *ngFor="let t of teamList">{{t.name}}<span class="add" (click)="addTeam(t)"></span></li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <div class="f-r">
      <button type="button" class="z-btn-grey-lg mr7" (click)="modalRef.hide()">取消</button>
      <button type="button" class="z-btn-blue-lg" (click)="addTeamSubmit();modalRef.hide()">确定</button>
    </div>
  </div>
</ng-template>
