<nav class="z-title-lg">
  规则管理
</nav>
<section class="z-bg-white clearfix">
  <header class="clearfix mb20">
    <h1 class="z-title-md-style">
      筛选条件
    </h1>
  </header>
  <ul class="clearfix">
    <li class="col-lg-3 col-md-4 f-l">
      <label for="name">规则名称：</label>
      <input class="z-input" [(ngModel)]="name" type="text" id="name">
    </li>
    <li class="col-lg-3 col-md-4 f-l">
      <label>试用对象：</label>
      <select [(ngModel)]="probation">
        <option [value]="item.code" *ngFor="let item of probationList">{{item.name}}</option>
      </select>
    </li>
    <li>
      <button class="f-r z-btn-blue-lg" (click)="getRuleList()">搜索</button>
    </li>
  </ul>
</section>
<section class="z-bg-white clearfix">
  <header class="clearfix mb10">
    <h1 class="z-title-md-style dib">
      信息列表
    </h1>
    <span class="f-r z-btn-blue-lg" routerLink="/admin/addRule">规则添加</span>
  </header>
  <table class="z-table tac" width="100%">
    <thead>
    <tr>
      <th width="10%">规则ID</th>
      <th width="10%">规则名称</th>
      <th width="15%">适用功能对象</th>
      <th width="25%">条件描述</th>
      <th width="10%">创建人</th>
      <th width="20%">创建时间</th>
      <th width="10%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of list">
      <td>{{i.id}}</td>
      <td>{{i.ruleName}}</td>
      <td>
        <span *ngIf="i.targetTable==='shop'">店铺信息</span>
        <span *ngIf="i.targetTable!=='shop'">业主信息</span>
      </td>
      <td class="text-left">
        <p *ngIf="i.ruleUserConditions">
          <span class="bold">满足以下条件的用户</span>【
          <span *ngFor="let user of i.ruleUserConditions,let index=index">
            <span *ngIf="index>0"> &nbsp;and &nbsp;</span>
            {{attrObj[user.leftChoose]}} &nbsp;
            {{symbolObj[user.midSymbol]}} &nbsp;
            <span *ngIf="user.leftChoose!=='sv_city'&&user.leftChoose!=='tm_type'">{{user.rightValue}}</span>
            <span *ngIf="user.leftChoose==='sv_city'||user.leftChoose==='tm_type'">{{user.userResult}}</span>
          </span>
          】
        </p>
        <p *ngIf="i.ruleDetails">
          <span class="bold">可筛选 店铺信息</span>
          【
          <span *ngFor="let item of i.ruleDetails,let index=index">
            <span *ngIf="index>0"> &nbsp;and &nbsp;</span>
            {{attrObj[item.dataLeft]}} &nbsp;
            {{symbolObj[item.dataSymbol]}} &nbsp;
            {{targetObj[item.dataRightType]}} &nbsp;
            <span *ngIf="item.dataLeft!=='sv_city'&&item.dataLeft!=='tm_type'&&item.dataRightType===1">
              {{item.dataRightValue}}</span>
            <span *ngIf="(item.dataLeft==='sv_city'||item.dataLeft==='tm_type')&&item.dataRightType===1">
              {{item.dataResult}}</span>
          </span>
          】
        </p>
      </td>
      <td>
        <span *ngIf="i.creator">{{i.creator}}</span></td>
      <td>
        <span *ngIf="i.createTime">{{i.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
      <td>
        <span class="z-btn-blue-sm" routerLink="/admin/addRule" target="_blank" [queryParams]="{id:i.id}">编辑</span><br>
        <span class="z-btn-red-sm" (click)="deleteRule(i.id)">删除</span>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination (pageChanged)="pageChanged()" [(pageConf)]="pageConf"></app-pagination>
</section>
