.select-city{
  width: 600px;
  position: absolute;
  z-index: 100;
}
.select-city-ul>li{
  float: left;
  border: 1px solid #dddddd;
  padding:10px 10px;
}
.selected{
  width: 36%;
  height: 400px;
  overflow-y: auto;
  border-bottom: none;
  background: #f8f9fa;
  font-size: 14px;
}
.noselect{
  width: 64%;
  background: #ffffff;
  height: 400px;
  overflow-y: auto;
}
.city-title{
  font-size: 16px;
  font-weight: bold;
}
.city-title-span{
  font-size: 12px;
  font-weight: normal;
}
.city-name li {
  &>button{
    border: none;
    background: #ffffff;
    cursor: pointer;
    &:hover{
      color: #1972d6;
    }
  }
}
.mt-25{
  margin-top: -25px;
}
